<div class="wrapper-profile">
    <div class="logo-background">
        <h1>
            {{i18n "consultation.medicalFiles.patientProfile.case"}}
            <strong>{{caseName}}</strong>
        </h1>

        <figure class="patient-profile-picture">
            {{#if data.patientProfilePicture}}
            <img src="{{data.patientProfilePicture}}" alt="{{data.patientFullName}}">
            {{/if}}
        </figure>

        <table>
            <tr>
                <th>{{i18n "consultation.medicalFiles.patientProfile.labels.fullname"}}</th>
                <td>{{{data.patientFullName}}}</td>
            </tr>
            {{#if patientSex}}
            <tr>
                <th>{{i18n "consultation.medicalFiles.patientProfile.labels.sex"}}</th>
                <td>{{{patientSex}}}</td>
            </tr>
            {{/if}}
            {{#if maritalStatus}}
            <tr>
                <th>{{i18n "consultation.medicalFiles.patientProfile.labels.familyStatus"}}</th>
                <td>{{{maritalStatus}}}</td>
            </tr>
            {{/if}}
            {{#if birthday}}
            <tr>
                <th>{{i18n "consultation.medicalFiles.patientProfile.labels.birthday"}}</th>
                <td>{{{birthday}}}</td>
            </tr>
            {{/if}}
            {{#if birthtime}}
            <tr>
                <th>{{i18n "consultation.medicalFiles.patientProfile.labels.birthtime"}}</th>
                <td>{{{birthtime}}}</td>
            </tr>
            {{/if}}
            {{#if weight}}
            <tr>
                <th>{{i18n "consultation.medicalFiles.patientProfile.labels.weight"}}</th>
                <td>{{{weight}}}</td>
            </tr>
            {{/if}}
            {{#if height}}
            <tr>
                <th>{{i18n "consultation.medicalFiles.patientProfile.labels.size"}}</th>
                <td>{{{height}}}</td>
            </tr>
            {{/if}}
            {{#if profession}}
            <tr>
                <th>{{i18n "consultation.medicalFiles.patientProfile.labels.professionnalActivity"}}</th>
                <td>{{{profession}}}</td>
            </tr>
            {{/if}}
        </table>

        <nav class="consultation-choice">
            <ul class="flat-list">
                {{#each data.examinations}}
                <li>
                    <a href="#" title="{{{i18n 'consultation.title'}}} {{inc @index 1}}" data-url="{{url}}">

                        <svg id="Calque_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 141.7 141.7">
                            <path class="st0"
                                d="M70.6 54.2c-1.7-1.7-4.5-1.7-6.2 0L49.8 68.7 44.1 63c-1.7-1.7-4.5-1.7-6.2 0-1.7 1.7-1.7 4.5 0 6.2l8.8 8.8c.9.9 2 1.3 3.1 1.3s2.3-.4 3.1-1.3l17.6-17.6c1.8-1.7 1.8-4.5.1-6.2zM70.6 89.4c-1.7-1.7-4.5-1.7-6.2 0l-14.5 14.5-5.7-5.7c-1.7-1.7-4.5-1.7-6.2 0-1.7 1.7-1.7 4.5 0 6.2l8.8 8.8c.9.9 2 1.3 3.1 1.3s2.3-.4 3.1-1.3l17.6-17.6c1.7-1.7 1.7-4.5 0-6.2zM102.7 61.7H85.1c-2.4 0-4.4 2-4.4 4.4 0 2.4 2 4.4 4.4 4.4h17.6c2.4 0 4.4-2 4.4-4.4 0-2.4-2-4.4-4.4-4.4zM102.7 96.9H85.1c-2.4 0-4.4 2-4.4 4.4s2 4.4 4.4 4.4h17.6c2.4 0 4.4-2 4.4-4.4s-2-4.4-4.4-4.4z" />
                            <path class="st0"
                                d="M115.9 17.6H98.3v-4.4c0-2.4-2-4.4-4.4-4.4h-9.6C82.5 3.7 77.6 0 71.9 0S61.2 3.7 59.4 8.8h-9.6c-2.4 0-4.4 2-4.4 4.4v4.4H27.8c-4.9 0-8.8 4-8.8 8.8v105.8c0 4.9 4 8.8 8.8 8.8h88.1c4.9 0 8.8-4 8.8-8.8V26.4c0-4.8-3.9-8.8-8.8-8.8zm-61.7 0H63c2.4 0 4.4-2 4.4-4.4s2-4.4 4.4-4.4 4.4 2 4.4 4.4 2 4.4 4.4 4.4h8.8v8.8H54.2v-8.8zm61.7 114.6H27.8V26.4h17.6v4.4c0 2.4 2 4.4 4.4 4.4h44.1c2.4 0 4.4-2 4.4-4.4v-4.4h17.6v105.8z" />
                        </svg>
                        <span>{{{name}}}</span>
                    </a>
                </li>
                {{/each}}
            </ul>
        </nav>

        <div class="notice">
            {{#if disclaimer}}
            {{{disclaimer}}}
            {{/if}}
        </div>
    </div>
</div>