{{#each data.persons}}
    <a href="#" class="gif-link" data-caseId="{{caseId}}" style="top: {{idleRoom.top}}px; left: {{idleRoom.left}}px;">
        <img src="{{../data.baseUrl}}{{idleRoom.asset}}" alt="{{patientFirstName}} {{patientLastName}}" height="{{idleRoom.height}}" width="{{idleRoom.width}}">
    </a>
{{/each}}

{{#if data.nbPersonsInNextRoom}}
<div class="btn-wrapper">
    <a href="#" class="btn js-go-room" data-next-room="{{data.nextRoom}}">
        {{data.labelBtnGoRoom}}
    </a>
</div>
{{/if}}