<figure>
    <img src="img/waiting-room-0{{data.index}}.jpg" alt="Waiting room 0{{data.index}}" height="565" width="800"{{#if data.rooms.length}} class="img-room img-room-{{data.index}}" data-room="{{data.index}}"{{/if}}>
</figure>

<ul class="patient-list">
    {{#each data.rooms}}
        <li>{{{caseNameWaitingRoom}}}
    {{/each}}
</ul>

{{#if data.rooms.length}}
<div class="btn-wrapper">
    <a href="#" class="btn js-room js-room-{{data.index}}" data-room="{{data.index}}">{{{i18n "waitingRoom.room"}}} {{data.index}}</a>
</div>
{{/if}}