.hidden {
    display: none;
}

.mode-meeting .lookatme {
    -webkit-animation: none;
    animation: none;
}

.img-room {
    cursor: pointer;
}

figcaption a,
figcaption a:link {
    font-weight: normal;
}

a.btn-finish {
    bottom: auto;
}

button.btn-consultation-steps,
.consultation-actions,
#breadcrumbs {
    display: none;
}

.consultation button.btn-consultation-steps,
.consultation .consultation-actions,
.consultation #breadcrumbs,
.consultation-dialogue #breadcrumbs {
    display: block;
}

.consultation button.btn-consultation-steps,
.consultation-dialogue button.btn-consultation-steps {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 0;
    max-height: 100%;
    flex-grow: 1;
    cursor: pointer;
}

.btn-consultation-steps .caption {
    padding: 0.75em 0;
}

.lg-jp .quit-consultation .btn-back {
    padding: 12px 5px 12px 30px;
}

body.clinical-exam {
    background-image: none;
}

body.complementary-exams {
    background-image: none;
}

.overlay-quiz .overlay-title:before,
.overlay-participants .overlay-title:before,
.overlay-consultation-steps .overlay-title:before {
    content: none;
}

.overlay-main-inner {
    overflow-y: hidden;
}

.loading p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;

    position: relative;
    top: 102px;

    margin: 0 auto;

    text-align: center;
}

.loading .overlay-patient-profile p {
    font-family: 'Fira Sans','PT Sans',sans-serif;
    font-weight: normal;
    text-align: left;
    top: inherit;
}

.img-loading {
    display: block;
    margin: 0 auto;
}

.signup-info {
    padding-right: 45px;
}

.feedback-form .extra {
    font-size: 0.825rem;
    margin: 0 auto;
    width: 85%;
}

.feedback-form .extra a {
    color: #616161;
    font-size: 0.825rem;
    font-style: italic;
    font-weight: normal;
}

.feedback-form .extra+.extra {
    margin-top: 10px;
}

#breadcrumbs {
    position: absolute;
    left: 200px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    background-color: #fefefe;
    border: 3px solid #e50005;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #040404;
    font-family: "Fira Sans";
    font-weight: 700;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
    top: 1em;
}

#breadcrumbs h5 {
    text-align: center;
    margin: 0;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 16px;
}

#breadcrumbs .date {
    color: #e50005;
}

#breadcrumbs .time {
    color: #979797;
}

.item-question {
    position: relative;

    height: auto;
    margin: 20px 0;
}

.comments-bubble {
    right: 0;
    bottom: 46px;
    left: 0;

    transition: none;
}

.comments-bubble a:link,
.comments-bubble a:visited {
    color: #000;
}

.item-question .btn-wrapper {
    position: relative;
    top: 15px;
    right: 0;
    left: 0;

    height: 50px;

    text-align: center;
}

.jquery-validate-error {
    position: absolute;
    top: 25%;
    right: 0;
}

.share-form .row {
    position: relative;
}

.share-form .message {
    height: 40px;
    padding: 10px 0;
}

.share-form .fields-required,
.form-connect .fields-required {
    font-style: italic;

    max-width: 515px;
    margin: 0 auto;

    color: #777;
}

.form-connect .fields-required {
    width: 340px;
}

.share-form .has-error input,
.share-form .has-error textarea {
    border: 2px solid #e50005;
}

.share-form input:focus,
.share-form textarea:focus {
    outline: none;
}

a.btn:disabled,
button.btn:disabled {
    background-color: #175171;
    cursor: not-allowed;
}

.btn-finish.disabled,
.btn-finish.disabled:focus,
.btn-finish.disabled:hover,
.btn-finish.disabled:hover:before,
.btn-finish.disabled:focus:before,
.btn-finish-meeting.disabled,
.btn-finish-meeting.disabled:focus,
.btn-finish-meeting.disabled:hover,
.btn-finish-meeting.disabled:hover:before,
.btn-finish-meeting.disabled:focus:before {
    background-color: #850d31;
    box-shadow: none;
    cursor: not-allowed;
}

.meeting-participants {
    position: absolute;
    top: 0;
}

.meeting-participants a {
    background: rgba(41, 149, 210, 0.22);
    border-radius: 50%;
    color: #404040;
    display: block;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: bold;
    height: 70px;
    left: 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 185px;
    width: 70px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.meeting-participants a:hover,
.meeting-participants a:focus {
    background: rgba(41, 149, 210, 0.5);
}

.meeting-participants a:before {
    content: '';
    background: url('../img/icon-trainer.svg') no-repeat 50% 50% #2995d2;
    background-size: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 60px;
    /**/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /**/
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.meeting-participants a:hover:before,
.meeting-participants a:focus:before {
    background-color: #175171;
}

.meeting-participants a span {
    left: 50%;
    line-height: 1;
    position: absolute;
    top: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.trainer-buttons {
    left: 25px;
    position: absolute;
    top: 295px;
}

.consultation-dialogue .trainer-buttons {
    display: none;
}

.gif-animated {
    position: absolute;
    z-index: -1;
}

.consultation-dialogue .site-main {
    position: relative;
    height: 100%;
}

.hotspot {
    z-index: 100;
}

.comments-bubble img {
    display: block;
}

.btn-wrapper.btn-share {
    bottom: 10px;
}

.btn-wrapper.btn-share .btn {
    padding-left: 50px;

    background-color: #e50005;
}

.overlay-consultation-synthesis.overlay-with-scroll .centred {
    background: url("../img/icon-scroll.svg") no-repeat 50% 100%;
}

.overlay-global-conclusion.overlay-with-scroll .centred {
    background: url("../img/icon-scroll.svg") no-repeat 50% 88%;
}

.overlay-consultation .consultation-steps {
    text-align: left;
}

.speech-bubble {
    height: 85px;
}

.hotspot .symptoms button {
    font-size: .825rem;
}

.waiting-room-choice .infos {
    display: none;
}

.infos {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    padding: 2vh;

    text-align: center;

    background: rgba(0, 0, 0, .8);
}

.infos:before {
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-right: 10px;

    content: "";
    vertical-align: middle;

    background: url("../img/icon-information.svg") no-repeat 0 0;
    background-size: 100%;
}

.job-bags {
    color: #616161;
    font-size: 0.825rem;
    font-style: italic;
    text-align: center;
}

.wrapper-profile+.job-bags {
    margin-top: 10px;
}

/*
.wrapper-profile + .job-bags br {
    display: none;
}*/

#legals {
    display: none;
    position: relative;
}

#legals .job-bags {
    color: #616161;
}

#legals br {
    display: none;
}

.welcome #legals,
.newsletter-signup #legals,
.feedback-form #legals,
.share #legals {
    display: block;
}

body.waiting-room {
    overflow-y: hidden;
}

body.waiting-room-webconf .centred {
    height: 720px;
}

.overlay td img {
    max-width: 100%;
}

.consultation-choice {
    margin: 60px 0 60px;
}

.form-connect .message {
    height: 40px;
    max-width: 340px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.form-connect input {
    font-style: italic;
    max-width: 340px;
    padding: 0 12px;

    text-align: left;
}

.form-connect .row {
    margin-bottom: 9px;
    position: relative;
}

.form-connect .row-submit {
    font-size: 0;
    /* INLINE BLOCK HACK */

    margin: 50px auto 0;

    text-align: center;
}

.form-connect .btn {
    margin: 0 15px;
}

.table-overlay td {
    border: solid 1px #777;
    padding: 5px;
}

.table-overlay th {
    border: solid 1px #777;
    padding: 5px;
    text-align: left;
    font-weight: bold;
}

.table-overlay.table-white th,
.table-overlay.table-white td {
    color: #000;
}

table.padded tr td {
    padding: 15px;
}

.orientation-warning {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 110;
}

.orientation-warning .inner {
    background: url('../img/icons/rotate.svg') no-repeat 50% 25px #e50005;
    color: #fff;
    font-size: 26px;
    font-size: 1.625rem;
    left: 50%;
    padding: 90px 25px 5px 25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
    /**/
    border-radius: 8px;
    /**/
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /**/
    -webkit-animation-name: bellring;
    animation-name: bellring;
    -webkit-animation-duration: 3000ms;
    animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.question-image {
    text-align: center;
    padding: 0 0 15px 0;
}

.question-image img {
    max-height: 240px;
}

.question-image small {
    display: block;
}

.form-event input {
    text-align: left;
    padding-left: 7px;
    border-radius: 5px;
}

.form-event .row {
    margin-top: 2px;
}

.form-event select {
    color: #FFF;
    padding-left: 7px;
    border-radius: 5px;
    -webkit-appearance: none;
}

.form-event select {
    color: #FFF;
    padding-left: 7px;
    border-radius: 5px;
    -webkit-appearance: none;
}

.form-error {
    width: 500px;
    background: #b31616;
    color: #FFF;
    margin: 15px auto !important;
    padding: 10px;
}

.participants-panels {
    margin-bottom: 5px;
}

.participants-panels .panel {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
    vertical-align: top;
}

.participants-panels .panel:last-child {
    margin-right: 0;
}

.participants-panels .panel .panel-header {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.participants-panels .panel h3 {
    color: #41a3e1;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

#search-participant .row {
    padding-left: 10px;
}

#search-participant .row>* {
    width: 120px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    -webkit-appearance: none;
}

#search-participant .row input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

#search-participant .row select,
#search-participant .row input {
    padding-left: 7px;
    border: 0 none;
    border-radius: 5px;
    outline: 0 none;
}

#find-button {
    line-height: 28px !important;
    width: 80px !important;
    color: #41a3e1;
    text-decoration: none;
    text-align: center;
    border: 0 none;
    background: transparent;
    text-transform: uppercase;
}

.participants-panels .panel-content ul {
    height: 188px;
}

.participants-panels .list-wrapper {
    min-height: 250px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
}

.participants-panels .list-wrapper:before,
.participants-panels .list-wrapper:after {
    content: '▲';
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFF;
    display: block;
    font-size: 12px;
    padding: 8px;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.participants-panels .list-wrapper:after {
    position: absolute;
    content: '▼';
    bottom: 0;
    top: auto;
}

.participants-panels .list-wrapper.right:before,
.participants-panels .list-wrapper.right:after {
    text-align: right;
}

.participants-panels .panel-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.participants-panels .panel-content ul li {
    background: rgba(255, 255, 255, 0.05);
    min-height: 40px;
    margin-top: 3px;
    overflow: hidden;
    position: relative;
}

.participants-panels .panel-content ul li.filled {
    cursor: pointer;
}

.participants-panels .panel-content ul li.selected {
    -webkit-box-shadow: 0 0 5px 0 #41a3e1;
    box-shadow: 0 0 11px 0 #41a3e1;
}

.participants-panels .panel-content ul li .name {
    margin: 5px;
}

.participants-panels .panel-content ul li small {
    margin: 5px;
    display: block;
}

.participants-panels .panel-content .chosen li {
    padding-left: 25px;
    position: relative;
}

.participants-panels .panel-content .chosen .mCSB_container {
    margin-right: 15px !important;
}

.participants-panels .panel-content .chosen .remove {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #d40b0b;
    font-size: 36px;
    line-height: 18px;
}

#add-participant {
    border: 1px solid #41a3e1;
    border-radius: 5px;
    text-decoration: none;
    padding: 4px 8px;
    display: inline-block;
    font-weight: normal;
    margin: 8px 0;
}

#select-participant {
    position: absolute;
    top: 310px;
    left: 503px;
}

/* MODAL PARTICIPANT CUSTOM */
.modal-overlay {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 20;
}

body.show-modal .modal-overlay {
    visibility: visible;
}

.modal-participant {
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 200px;
    background: white;
    text-align: center;
}

.modal-participant .modal-header {
    text-transform: uppercase;
    background: #2995d2;
    color: #FFF;
    line-height: 36px;
    position: relative;
}

.modal-participant .modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 24px;
    text-align: center;
    font-size: 26px;
    text-decoration: none;
}

.modal-participant input,
.modal-participant select {
    background: #FFF;
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    /* padding: 0; */
    border: 1px solid #CCC;
    margin: 15px auto;
    color: #333;
}

.modal-participant * {
    transition: none !important;
}

@media only screen and (orientation:portrait) {
    .touch .orientation-warning {
        display: block;
    }
}

/* STATS */
.statistics>li {
    border: 1px dotted #737373;
    padding: 10px;
    margin-bottom: 10px;
}

.statistics h4 {
    text-decoration: underline;
}

.waiting-room-choice #modal-footer {
    width: 100%;
    bottom: 0;
}

/* CUSTOM */
ul.spaced li {
    margin: 15px 0;
}

.waiting-room-01 .btn-wrapper,
.waiting-room-02 .btn-wrapper {
    bottom: 110px;
}

.cases-language {
    display: none;
}

.overlay-waiting-room-choice .cases-language {
    display: block;
}

@media screen and (max-height: 620px) {
    .overlay-waiting-room-choice .overlay-title {
        margin-bottom: 20px;
    }

    .overlay-waiting-room-choice .patient-list {
        font-size: 14px;
    }
    
    .centred {
        height: 580px;
    }

}

@media screen and (max-height: 768px) {
    .consultation-menu>.btn-consultation-steps {
        height: 80px;
    }

    .consultation-menu>.btn-consultation-steps span {
        display: none;
    }

    .consultation-menu .consultation-menu-container span {
        padding: 0.25em 0;
    }

    .consultation-menu .consultation-menu-content.show {
        height: calc(100% - 80px);
        overflow: visible;
    }

    .overlay-medical-record .overlay-main {
        padding: 15px 0 0;
    }

    .patient-profile-picture img {
        max-height: 100px;
        display: inline;
        vertical-align: middle;
        width: auto;
    }

    .patient-profile-picture figcaption {
        display: inline-block;
        padding-left: 1em;
    }
}

@media screen and (max-height: 500px) {
    .consultation-menu .consultation-menu-container .menu-icon {
        display: none;
    }

    .consultation button.btn-consultation-steps,
    .consultation-dialogue button.btn-consultation-steps {
        justify-content: center;
    }

    .medical-record-nav li a {
        width: 65px;
        height: 65px;
    }

    .patient-profile-picture img {
        max-height: 80px;
    }

    .quiz-form .row,
    .quiz-answers-list .row {
        max-width: 100%;
    }
    h2.question {
        width: 100%;
    }
}

#audio-player {
    position: relative;
    top: 0;
    left: 425px;
}


p.disclaimer {
    margin-top: 25px;
    font-size: 15px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-weight: 300;
    font-style: italic;
}
