/**
 * GLOBAL
 * TEXT SELECT
 * CLEARFIX
 * FONT FACES
 * ELEMENTS
 * USEFUL CLASSES
 * HEADER
 * FOOTER
 * NEWSLETTER
 * WELCOME
 * FORBIDDEN
 * FEEDBACK
 * RP
 * PARTICIPANTS
 * CONSULTATION
 * QUIT
 * LOADING
 * DIALOGUE
 * MEDICAL EXAM
 * COMPLEMENTARY EXAMS
 * DIAGNOSIS
 * ANNEXE
 * WAITING ROOM
 * CONSULTATION SYNTHESIS
 * SHARE
 * MEDIA QUERIES
 */


/**
 * GLOBAL
 * -----------------------------------------------------------------------------
 */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url('../img/bg/neonatology.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    font-family: 'Fira Sans', 'PT Sans', sans-serif;
    font-size: 100%;
    height: 100%;
    line-height: 1.3;
    /*overflow-x: hidden;*/
    overflow: hidden;
    position: relative;
    /**/
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body:before {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

body.no-overlay:before {
    content: none;
}

/**
  * TEXT SELECT
  * -----------------------------------------------------------------------------
  */
::-moz-selection {
    background: #e50005;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #e50005;
    color: #fff;
    text-shadow: none;
}

/**
  * CLEARFIX
  * -----------------------------------------------------------------------------
  */
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/**
  * FONT FACES
  * -----------------------------------------------------------------------------
  */
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.eot');
    src: url('../fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Italic.woff') format('woff'),
        url('../fonts/PTSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Bold.woff') format('woff'),
        url('../fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-BoldItalic.eot');
    src: url('../fonts/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-BoldItalic.woff') format('woff'),
        url('../fonts/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**
  * ELEMENTS
  * -----------------------------------------------------------------------------
  */
h1 {
    color: #fff;
    font-size: 30px;
    font-size: 1.875rem;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

p {
    margin: 0 0 15px;
}

ul {
    list-style: disc outside;
    margin: 0 0 15px;
    padding: 0 0 0 20px;
}

ol {
    list-style: outside decimal;
    margin: 0 0 15px 20px;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a:link {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

a:visited {
    color: #fff;
    font-weight: normal;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

::-webkit-input-placeholder {
    opacity: 0.5;
}

:-moz-placeholder {
    opacity: 0.5;
}

::-moz-placeholder {
    opacity: 0.5;
}

:-ms-input-placeholder {
    opacity: 0.5;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 0;
    color: #fff;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    height: 50px;
    line-height: 46px;
    margin: 0 auto;
    max-width: 515px;
    text-align: center;
    width: 100%;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

textarea {
    height: 155px;
    line-height: 1.1;
    padding: 12px;
    resize: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select,
textarea:focus {
    border-color: #2995d2;
}

select {
    border: 0 none;
}

table {
    border: 0;
    margin: 0 0 25px;
    width: 100%;
}

td {
    vertical-align: top;
}

/**
  * USEFUL CLASSES
  * -----------------------------------------------------------------------------
  */
/*
 STRUCTURE
 */
.centred {
    height: 750px;
    height: 100vh;
    margin: 0 auto;
    max-width: 1024px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    z-index: 0;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
}

.relative {
    position: relative;
}

/*
 TEXT
 */
.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: normal;
}

.font-medium {
    font-weight: 600;
}

.font-heavy {
    font-weight: 900;
}

.font-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*
 LISTS
 */
ul.menu,
ul.not-list,
ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flat-list,
ol.flat-list {
    font-size: 0;
    /*INLINE BLOCK HACK*/
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flat-list li,
ol.flat-list li {
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
}

/*
 BTN
 */
a.btn,
button.btn,
button.btn-back-quizz {
    background: url('../img/icons/icon-arrow-right.svg') no-repeat 20px 50% #FFF;
    border-radius: 27px;
    border: 5px solid #e50005;
    color: #e50005;
    display: inline-block;
    font-family: 'Roboto', 'PT Sans', sans-serif;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: normal;
    min-width: 150px;
    padding: 12px 10px 12px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

button.btn-back-quizz{
    background: url('../img/icons/icon-arrow-left.svg') no-repeat 20px 50% #FFF;
}

button.d-none{
    display: none;
}


a.btn-red,
button.btn-red {
    border-radius: 27px;
    background-color: #ffffff;
    border: 5px solid #e50005;
    color: #e50005;
}

a.btn-back,
button.btn-back {
    background-image: url('../img/icons/icon-arrow-left.svg');
}

a.btn-done {
    background-image: url('../img/icons/icon-arrow-right-circle-white.svg');
    background-position-x: 100%;
    padding: 0 40px 0 0 !important;
    font-weight: normal;
    line-height: 18px !important;
    text-align: right;
}

.btn-wrapper {
    bottom: 50px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 102;
}

.overlay.overlay-transparent {
    background-color: transparent !important;
}

.overlay-header {
    padding: 20px 0 0;
}

.logo-background {
    background: url('../img/logo.png') no-repeat top left, url('../img/takeda.png') no-repeat top right;
    background-size: auto 45px, auto 45px;
    padding-top: 45px;
}

.overlay-with-logo .centred {
    padding: 0;
}

.overlay.overlay-takeda-logo #modal-header {
    display: none;
}

.overlay.overlay-takeda-logo #modal-content {
    margin-top: 15px;
}

.overlay.overlay-takeda-logo #modal-content .notice img {
    float: right;
    vertical-align: top;
    margin-left: 1em;
}


/*
 ANIMATION
 */
.lookatme {
    -webkit-animation: lookatme 4s linear infinite;
    animation: lookatme 4s linear infinite;
}

.lookatme.btn-consultation-steps {
    z-index: 1;
}

@-webkit-keyframes lookatme {
    0% {
        box-shadow: 0 0 1px 1px rgba(229, 0, 5, 0.6);
    }

    25% {
        box-shadow: 0 0 8px 8px rgba(229, 0, 5, 0.6);
    }

    50% {
        box-shadow: 0 0 1px 1px rgba(229, 0, 5, 0.6);
    }

    75% {
        box-shadow: 0 0 8px 8px rgba(229, 0, 5, 0.6);
    }

    100% {
        box-shadow: 0 0 1px 1px rgba(229, 0, 5, 0.6);
    }
}

@keyframes lookatme {
    0% {
        box-shadow: 0 0 1px 1px rgba(229, 0, 5, 0.6);
    }

    25% {
        box-shadow: 0 0 8px 8px rgba(229, 0, 5, 0.6);
    }

    50% {
        box-shadow: 0 0 1px 1px rgba(229, 0, 5, 0.6);
    }

    75% {
        box-shadow: 0 0 8px 8px rgba(229, 0, 5, 0.6);
    }

    100% {
        box-shadow: 0 0 1px 1px rgba(229, 0, 5, 0.6);
    }
}

/**
 * HEADER
 * -----------------------------------------------------------------------------
 */
.site-header,
.overlay-site-header {
    padding: 30px 0 15px;
}

.site-title {
    float: left;
    margin: 0 10px 0 0;
}

.site-title a {
    background: url('../img/logo-thrombo-sim.svg') no-repeat 0 0;
    direction: ltr;
    display: block;
    height: 50px;
    text-indent: -999em;
    width: 249px;
}

/* LANGUAGE SELECT */
.language-select {
    position: absolute;
    right: 0;
    top: 30px;
    width: 120px;
}

.language-select button,
.language-select li a {
    background: none;
    background-size: 100%;
    border: 0;
    direction: ltr;
    display: block;
    height: 24px;
    margin: 0 auto;
    outline: 0 none;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
}

.language-select button small {
    font-size: 8px;
    margin-left: 10px;
}

.language-select ul {
    background: #333;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: calc(100% + 20px);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    width: 100px;
    font-size: 14px;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    z-index: 15;
}

.language-select.is-open ul {
    opacity: 1;
    /**/
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.language-select ul:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #333;
    border-width: 10px;
    margin-left: -10px;
}

.language-select li+li {
    margin: 8px 0 0;
}

.language-select li a {
    border-radius: 3px;
}

/*
.language-select.lang-es button,
    background-image: url('../img/flag-spain.png');
}
.language-select.lang-en button,
.language-select .uk a {
    background-image: url('../img/flag-uk.png');
}
.language-select.lang-jp button,
.language-select .jp a {
    background-image: url('../img/flag-japan.png');
}
.lang-es .es a,
.lang-en .uk a,
.lang-jp .jp a {
    -webkit-box-shadow: 0 0 0 2px #2995d2;
    box-shadow: 0 0 0 2px #2995d2;
}*/
.share .language-select {
    display: none;
}

/* SIGN UP INFO */
.signup-info p {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0;
}

/* BTN CLOSE OVERLAY */
button.btn-close {
    background: url(../img/icons/close.svg) no-repeat center center;
    background-size: 16px;
    direction: ltr;
    display: block;
    height: 16px;
    position: absolute;
    right: 25px;
    text-indent: -999em;
    top: 25px;
    width: 16px;
    border: 2px solid #FFF;
    padding: 15px;
    border-radius: 100%;
}

div.overlay.overlay-quiz.overlay-with-padding.overlay-with-scroll button.btn-close {
    top: 55px;
}

/**
 * FOOTER
 * -----------------------------------------------------------------------------
 */
.site-footer,
.overlay-footer {
    bottom: 15px;
    position: absolute;
    right: 15px;
}

.site-footer figure,
.overlay-footer figure {
    margin: 0;
}

/**
 * NEWSLETTER
 * -----------------------------------------------------------------------------
 */
.newsletter-signup .iframe-wrap {
    height: 415px;
    margin: 0 auto 25px;
    overflow-X: hidden;
    overflow-y: scroll;
    width: 520px;
    /**/
    -webkit-overflow-scrolling: touch;
}

/**
 * WELCOME
 * -----------------------------------------------------------------------------
 */
.welcome article {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 auto;
    max-width: 860px;
}

.welcome article h1 {
    margin: 60px 0;
}

/**
 * FORBIDDEN
 * -----------------------------------------------------------------------------
 */
.forbidden h1 {
    margin: 60px 0;
}

/**
 * FEEDBACK
 * -----------------------------------------------------------------------------
 */
.feedback article {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 auto;
    max-width: 860px;
}

.feedback article h1 {
    margin: 60px 0;
}

.feedback.lang-es article h1 {
    margin: 60px 0 30px;
}

.feedback-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.feedback-form label {
    margin: 0 0 15px;
}

.feedback-form input {
    margin-bottom: 20px;
}

.feedback-form .extra {
    color: #616161;
    font-style: italic;
}

/**
 * RP
 * -----------------------------------------------------------------------------
 */
.rp-01 .site-main h1 {
    margin: 60px 0 100px;
}

.role-choice {
    text-align: center;
}

.role-choice li {
    margin: 0 30px;
}

.role-choice li a {
    background: url('../img/mask-gradient.svg') no-repeat 50% 50% #e51855;
    color: #fff;
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
    height: 145px;
    position: relative;
    text-decoration: none;
    width: 145px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    /**/
    -webkit-box-shadow: none;
    box-shadow: none;
}

.role-choice li a:hover,
.role-choice li a:focus {
    /**/
    -webkit-box-shadow: inset 0 0 0 2px #e51855;
    box-shadow: inset 0 0 0 2px #e51855;
}

.role-choice .participant a:hover,
.role-choice .participant a:focus {
    /**/
    -webkit-box-shadow: inset 0 0 0 2px #2995d2;
    box-shadow: inset 0 0 0 2px #2995d2;
}

.role-choice a .label {
    left: 0;
    line-height: 1;
    padding: 15px 0 0;
    position: absolute;
    right: 0;
    top: 100%;
}

.role-choice li a:before {
    content: '';
    background: url('../img/icon-trainer.svg') no-repeat 50% 23px;
    background-size: 84px;
    bottom: 2px;
    display: block;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.role-choice li a:hover:before,
.role-choice li a:focus:before {
    background-color: #850d31;
}

.role-choice li .action {
    bottom: 15px;
    font-size: 17px;
    font-size: 1.0625rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.role-choice .participant a {
    background-color: #2995d2;
}

.role-choice .participant a:hover:before,
.role-choice .participant a:focus:before {
    background-color: #175171;
}

.role-choice .participant a:before {
    background-image: url('../img/icon-participant.svg');
    background-size: 82px;
}

.rp-02 .site-main h1 {
    margin: 50px 0 85px;
}

.trainer-connect input {
    max-width: 340px;
    padding: 0 10px;
    text-align: left;
}

.trainer-connect .row-submit {
    font-size: 0;
    /* INLINE BLOCK HACK */
    margin: 50px auto 0;
    text-align: center;
}

.trainer-connect .btn {
    margin: 0 15px;
}

/**
 * PARTICIPANTS
 * -----------------------------------------------------------------------------
 */
.participants-01 .site-main h1 {
    margin: 50px 0 30px;
}

.participants-01 .form-wrapper {
    margin: 0 auto;
    position: relative;
    width: 955px;
}

.participants-01 fieldset {
    float: left;
    margin: 0 0 12px;
    width: 465px;
}

.participants-01 .custom-scroll {
    height: 210px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btn-scroll-up,
.btn-scroll-down {
    background: url('../img/icon-scroll-up.svg') no-repeat 0 0;
    border: 0;
    direction: ltr;
    display: block;
    height: 8px;
    left: 20px;
    padding: 0;
    position: absolute;
    text-indent: -999em;
    width: 15px;
    z-index: 2;
}

.btn-scroll-up {
    top: -20px;
}

.btn-scroll-down {
    background-image: url('../img/icon-scroll-down.svg');
    top: 221px;
}

.participants-selected .btn-scroll-up,
.participants-selected .btn-scroll-down {
    left: auto;
    right: 20px;
}

.participants-01 .participants-selected {
    float: right;
}

.participants-viva input,
.participants-selected input {
    display: none;
}

.participants-viva label,
.participants-selected label {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 0 3px;
    padding: 13px 20px;
    text-align: left;
}

.participants-viva input:checked+label,
.participants-selected input:checked+label {
    background: #2995d2;
}

.participants-selected .row-empty {
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    margin: 0 0 3px;
}

.participants-select .input-row {
    clear: both;
    margin: 0 auto;
    max-width: 390px;
    position: relative;
}

.participants-select .manual-participant {
    font-style: italic;
    max-width: 390px;
    padding: 0 0 0 15px;
    text-align: left;
}

.input-row .btn-ok {
    background: none;
    border: 0;
    color: #2995d2;
    font-weight: normal;
    height: 50px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.input-row .btn-ok:hover,
.input-row .btn-ok:focus {
    color: #fff;
}

.btn-send-left,
.btn-send-right {
    background: url('../img/icons/icon-arrow-left-circle-black.svg') no-repeat 50% 50% #fff;
    border: 0;
    border-radius: 50%;
    direction: ltr;
    display: block;
    height: 60px;
    left: 50%;
    padding: 0;
    position: absolute;
    text-indent: -999em;
    top: 126px;
    width: 60px;
    z-index: 10;
    /**/
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn-send-right {
    background-image: url('../img/icons/icon-arrow-right-circle-black.svg');
    top: 20px;
}

.participants-02 .site-main h1 {
    margin: 55px 0 35px;
}

.list-participants-code {
    margin: 0 auto;
    position: relative;
    width: 950px;
}

.list-participants-code ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-participants-code .custom-scroll {
    height: 210px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.list-participants-code li {
    background: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-size: 1.125rem;
    height: 50px;
    line-height: 50px;
    margin: 0 0 3px;
    padding: 0 10px;
}

.list-participants-code li span {
    color: #2995d2;
    float: right;
    font-style: italic;
}

.participants-02 .btn-wrapper {
    font-size: 0;
}

.participants-02 .btn-wrapper .btn {
    margin: 0 15px;
}

.rejoin-block {
    margin: 20px 0px;
    padding: 12px;
    color: #00529B;
    background-color: #BDE5F8;
    display: none;
}

.rejoin-block p {
    margin: 0;
}

.rejoin-block a {
    color: #003565;
}

/**
 * CONSULTATION
 * -----------------------------------------------------------------------------
 */
body.consultation {
    background-image: url('../img/bg/cabinet.jpg');
}

.btn-finish-meeting {
    bottom: auto;
    top: 150px;
}

.interview .overlay-main h1 {
    margin: 65px 0 55px;
}

.overlay-consultation .overlay-site-header {
    padding-bottom: 0;
}

.overlay-consultation .overlay-main h1 {
    margin: 0 0 20px;
}

.overlay-consultation .consultation-steps {
    margin: 0 auto;
    text-align: center;
    width: 733px;
}

ul.consultation-steps li {
    display: inline-block;
    font-size: 0;
    margin: 0 0 20px;
    position: relative;
}

.consultation-steps li+li:before {
    content: '';
    background: url('../img/icons/icon-chevron-right.svg') no-repeat 0 0;
    background-size: 11px;
    display: inline-block;
    height: 20px;
    margin: 0 20px;
    width: 11px;
}

.consultation-steps li:nth-child(5):before {
    content: none;
}

.consultation-steps li a,
a.btn-quit,
.btn-consultation-steps {
    background: #4a4b4d;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: normal;
    height: 145px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 145px;
    /**/
    -webkit-box-shadow: none;
    box-shadow: none;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.consultation-steps li a:hover,
.consultation-steps li a:focus,
.btn-consultation-steps:hover,
.btn-consultation-steps:focus,
.btn-consultation-steps.active {
    /**/
    -webkit-box-shadow: inset 0 0 0 2px #e50005;
    box-shadow: inset 0 0 0 2px #e50005;
    background-color: #e50005;
}

.consultation-steps li a:before,
a.btn-quit:before {
    content: '';
    background: url('../img/dialogue.svg') no-repeat 50% 24px;
    background-size: 80px;
    bottom: 2px;
    display: block;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.consultation-steps .exam a:before {
    background-image: url('../img/icon-stethoscope.svg');
    background-size: 58px;
}

.consultation-steps .exam-2 a:before {
    background-image: url('../img/icon-microscope.svg');
    background-size: 43px;
}

.consultation-steps .diagnosis a:before {
    background-image: url('../img/icon-clipboard.svg');
    background-size: 42px;
}

.consultation-steps .treatment a:before {
    background-image: url('../img/icon-prescription.svg');
    background-size: 49px;
}

.consultation-steps .exam-results a:before {
    background-image: url('../img/icon-results.svg');
    background-size: 42px;
}

.consultation-steps .patient-management a:before {
    background-image: url('../img/icon-management.svg');
    background-size: 43px;
}

.consultation-steps .response a:before {
    background-image: url('../img/icon-response.svg');
    background-size: 43px;
}



.consultation-steps li a:hover:before,
.consultation-steps li a:focus:before,
.btn-consultation-steps:hover:before,
.btn-consultation-steps:focus:before {
    background-color: rgb(119, 62, 64);
}

.consultation-steps li .table,
a.btn-quit .table,
.btn-consultation-steps .table {
    bottom: 3px;
    height: 50px;
    margin: 0;
    position: absolute;
}

.consultation-steps li .table {
    margin: 0;
    width: 145px;
}

.consultation-steps li .table-cell,
a.btn-quit .table-cell,
.btn-consultation-steps .table-cell {
    line-height: 1.2;
    padding: 0;
    vertical-align: middle;
}

a.btn-quit {
    background-color: #e51855;
    background-size: 170px;
    border: 0;
    bottom: 15px;
    height: 120px;
    padding: 0;
    position: absolute;
    width: 120px;
}

a.btn-quit:before {
    background-image: url('../img/icon-chevron-quit.svg');
    background-size: 15px;
}

a.btn-quit:hover,
a.btn-quit:focus {
    /**/
    -webkit-box-shadow: inset 0 0 0 2px #e51855;
    box-shadow: inset 0 0 0 2px #e51855;
}

a.btn-quit:hover:before,
a.btn-quit:focus:before {
    background-color: #850d31;
}

.consultation .site-main {
    height: 100%;
    padding: 20px 0 0;
    position: relative;
}

.consultation-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    bottom: 0;
    z-index: 3;
    /*background: #4a4b4d;*/
}

.consultation-menu button {
    border: 0;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 13px;
    color: #ececee;
    font-family: "Fira Sans";
    font-weight: 600;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    height: 100px;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.consultation-menu .consultation-menu-content {
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: 450ms ease-in-out all;
}

.consultation-menu .consultation-menu-content.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100% - 100px);
    opacity: 1;
    overflow: visible;
}

.consultation-menu .consultation-menu-content .consultation-menu-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.consultation-menu .consultation-menu-content .consultation-menu-container .btn-consultation-steps.active.canQuit .default-text {
    display: none;
}

.consultation-menu .consultation-menu-content .consultation-menu-container .btn-consultation-steps.active.canQuit .quit-text {
    display: block !important;
}

.consultation-menu .consultation-menu-content .consultation-menu-container .menu-icon {
    width: 100%;
    overflow: hidden;
    flex: 0 1 40%;
    padding: 10px;
    display: flex;
}

.consultation-menu .consultation-menu-content .consultation-menu-container .menu-icon:before {
    content: "";
    width: 20px;
    height: 20px;
    object-fit: contain;
    background: url(/img/icons/icon-question.svg) no-repeat center center;
    background-size: contain;
    position: absolute;
    right: 5px;
    display: none;
}

.consultation-menu .consultation-menu-content .consultation-menu-container .step-diagnosis .menu-icon:before,
.consultation-menu .consultation-menu-content .consultation-menu-container .step-initial-treatment .menu-icon:before,
.consultation-menu .consultation-menu-content .consultation-menu-container .step-complementary-exam .menu-icon:before,
.consultation-menu .consultation-menu-content .consultation-menu-container .step-patient-management .menu-icon:before {
    display: block;
}

.consultation-menu > .btn-consultation-menu .menu-icon {
    width: 100%;
    overflow: hidden;
    flex: 1 1 40%;
    max-height: 50%;
    display: flex;
    padding: 0px;
    padding-top: 10px;
}

.consultation-menu .consultation-menu-content .consultation-menu-container .menu-icon img, .consultation-menu > .btn-consultation-menu .menu-icon img {
    object-fit: contain;
}

button.btn-mute {
    background: #e50005;
    border: 1px solid #fff;
    border-radius: 50%;
    direction: ltr;
    float: left;
    height: 48px;
    margin: 5px 140px 0 0;
    outline: none;
    padding: 0;
    position: relative;
    text-indent: -999em;
    width: 48px;
    /**/
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.22);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.22);
    /**/
    -webkit-transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
    -moz-transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
    -ms-transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
    -o-transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
    transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
}

button.btn-mute.is-off {
    background: #e50005;
    /**/
    -webkit-box-shadow: 0 0 0 5px rgba(229, 24, 85, 0.22);
    box-shadow: 0 0 0 5px rgba(229, 24, 85, 0.22);
}

button.btn-mute:before,
button.btn-mute:after {
    content: '';
    background: url('../img/icons/sound-on.svg') no-repeat 50% 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    /**/
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    /**/
    -webkit-transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
    -moz-transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
    -ms-transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
    -o-transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
    transition: all 300ms cubic-bezier(.18, .89, .32, 1.28);
}

button.btn-mute:after {
    background-image: url('../img/icons/sound-off.svg');
    /**/
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

button.btn-mute.is-off:before {
    /**/
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

button.btn-mute.is-off:after {
    /**/
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

ol.breadcrumbs {
    counter-reset: breadcrumb;
    float: left;
    position: relative;
}

.breadcrumbs li {
    background: #fff;
    border: 1px solid #acacac;
    border-radius: 50%;
    color: #acacac;
    height: 22px;
    margin: 0 10px;
    text-align: center;
    width: 22px;
    /**/
    -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.22);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.22);
}

.breadcrumbs li.is-active {
    background: #2995d2;
    border-color: #2995d2;
    color: #fff;
}

.breadcrumbs li.is-active:before {
    content: attr(data-text);
    color: #495050;
    font-size: 17px;
    font-size: 1.0625rem;
    min-width: 130px;
    position: absolute;
    left: 50%;
    top: 110%;
    /**/
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.consultation-actions {
    float: right;
    margin: 0 15px 0 0;
}

.consultation-actions li+li {
    margin: 40px 0 0;
}

.consultation-actions a {
    background: rgba(41, 149, 210, 0.22);
    border-radius: 50%;
    color: #404040;
    display: block;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: bold;
    height: 70px;
    position: relative;
    text-align: center;
    width: 70px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.consultation-actions a:hover,
.consultation-actions a:focus {
    background: rgba(41, 149, 210, 0.5);
}

.consultation-actions a:before {
    content: '';
    background: url('../img/icon-medical-file.svg') no-repeat 50% 50% #2995d2;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 60px;
    /**/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /**/
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.consultation-actions .annexes a:before {
    background-image: url('../img/icon-books.svg');
}

.consultation-actions a span {
    left: 50%;
    line-height: 1;
    position: absolute;
    top: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.consultation-actions a:hover:before,
.consultation-actions a:focus:before {
    background-color: #175171;
}

.overlay-medical-record {
    text-align: center;
}

.overlay-medical-record .overlay-header {
    padding: 0;
}

.overlay-medical-record .overlay-main {
    padding: 55px 0 0;
}

.overlay-medical-record .overlay-title {
    background: url(../img/icons/medical-record-pink.svg) no-repeat 0 .5em;
    background-size: 2em;
    padding: 25px 0 0 100px;
    background-position-x: .15em;
}

.overlay-medical-record .overlay-title:before {
    content: none;
}

.overlay-medical-record #medical-files {
    display: flex;
    flex-wrap: wrap;
}

.overlay-medical-record #medical-files li {
    flex-basis: 33.33333333%;
}

.overlay-medical-record #medical-files li a {
    margin: auto;
}

/*
.overlay-medical-record #medical-files li.neonat-symptoms {
    order: 1;
}
.overlay-medical-record #medical-files li.patient-profile {
    order: 2;
}
.overlay-medical-record #medical-files li.medical-history {
    order: 3;
}
.overlay-medical-record #medical-files li.family-background {
    order: 4;
}
.overlay-medical-record #medical-files li.ongoing-treatment {
    order: 5;
}
.overlay-medical-record #medical-files li.exam-results {
    order: 6;
}*/

.overlay-quiz .overlay-title,
.overlay-consultation-synthesis .overlay-title {
    background: no-repeat 15% .2em;
    background-size: auto calc(100% - .5em);
    padding: 25px 0 0.5em;
    /*position: relative;*/
    /*margin-top: 2em;*/
}

.overlay-quiz .overlay-title:after {
    content: "";
    position: absolute;
    background: url(../img/icons/icon-question.svg) no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    left: 55px;
    top: 10px;
    display: block;
}

.overlay-quiz.complementary-exam .overlay-title {
    background-image: url(../img/icons/complementary-exam-pink.svg);
    background-position-x: -.15em;
}

.overlay-quiz.initial-treatment .overlay-title {
    background-image: url(../img/icons/initial-treatment-pink.svg);
    background-position-x: -.15em;
}

.overlay-quiz.diagnosis .overlay-title {
    background-image: url(../img/icons/diagnosis-pink.svg);
}

.overlay-quiz.patient-management .overlay-title {
    background-image: url(../img/icons/patient-management-pink.svg);
}

.overlay-consultation-synthesis .overlay-title {
    text-align: center;
    padding-left: 0;
    background-image: url(../img/icons/consultation-feedback-alt.svg);
}

.overlay-consultation-synthesis .synthesis-list .feedback-section-title {
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 2em;
    color: #ffffff;
    font-family: "Fira Sans";
    font-weight: 700;
    border-bottom: 2px dashed #ffffff;
    background-repeat: no-repeat;
    background-size: auto 1.25em;
    background-position: .25em 0;
}

.complementary-exams .feedback-section-title {
    background-image: url(../img/icons/complementary-exam-pink.svg);
}

.treatment-prescription .feedback-section-title {
    background-image: url(../img/icons/initial-treatment-pink.svg);
}

.diagnosis .feedback-section-title {
    background-image: url(../img/icons/diagnosis-pink.svg);
}

.patient-management .feedback-section-title {
    background-image: url(../img/icons/patient-management-pink.svg);
}

.overlay-consultation-synthesis .synthesis-list .question {
    font-size: 24px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-weight: 700;
    padding: 0;
    text-align: left;
    width: 100%;
}

.overlay-consultation-synthesis .synthesis-list .question span {
    float: left;
    width: 140px;
    margin-right: 1em;
    vertical-align: top;
    white-space: nowrap;
    border-bottom: 2px dashed #FFF;
    padding-bottom: .25em;
    margin-bottom: 1em;
}

.overlay-title {
    font-size: 36px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-weight: 700;
    text-align: left;
    font-style: normal;
    margin-top: 0;
}

#quizz-title{
    text-align: center;
    width: 100%;
    margin: 0px auto 25px; 
}

.overlay-title:before {
    content: '';
    background: no-repeat 0 0;
    display: inline-block;
    height: 40px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 44px;
}

.overlay-patient-profile .overlay-title:before {
    background-image: url('../img/icons/patient-profile.svg');
    height: 39px;
    width: 35px;
}

.overlay.overlay-takeda-logo h1 {
    font-style: normal;
    font-size: 36px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-weight: 300;
    background: url(../img/icons/case.svg) no-repeat top left;
    background-size: auto 2em;
    padding-left: 95px;
    text-align: left;
    line-height: 38px;
    display: inline-block;
}

.overlay-patient-profile h1 strong {
    font-weight: 700;
    display: block;
}

.consultation:not(.clinical-exam) .overlay:not(.overlay-consultation-synthesis) .overlay-main>div {
    position: relative;
    max-height: calc(100vh - 160px);
}

.overlay-clinical-exam img {
    max-height: calc(100vh - 190px);
}

.consultation .overlay .overlay-main>div .btn-wrapper {
    bottom: -60px;
}

.overlay-medical-history .overlay-title,
.overlay-family-background .overlay-title,
.overlay-neonat-symptoms .overlay-title,
.overlay-patient-profile .overlay-title {
    text-align: center;
    margin-top: 0;
}

.overlay-medical-history .overlay-title:before {
    background-image: url('../img/icons/medical-history.svg');
    height: 34px;
    width: 41px;
}

.overlay-medical-history .no-table,
.overlay-family-background .no-table,
.overlay-ongoing-treatment .no-table,
.overlay-neonat-symptoms .no-table,
.overlay-results-complementary-exams tr td.caption,
.overlay-annexe .no-table,
.pink-container {
    border-radius: 15px;
    background-color: #ececee;
    padding: .75em;
    font-size: 18px;
    line-height: 28px;
    color: #010101;
    font-family: "Fira Sans";
    font-weight: 400;
}

.overlay-medical-history .no-table ul,
.overlay-family-background .no-table ul,
.overlay-ongoing-treatment .no-table ul,
.overlay-neonat-symptoms .no-table ul {
    margin: 0;
    list-style-type: none;
}


.overlay-ongoing-treatment .no-table .table-cell {
    padding: 0;
}

.overlay-results-complementary-exams tr td.caption {
    padding-left: 2em;
}

.overlay-results-complementary-exams img.exam-result {
    max-width: 25% !important;
    margin: 1em;
}

.overlay-medical-history .no-table ul li:before,
.overlay-family-background .no-table ul li:before,
.overlay-ongoing-treatment .no-table ul li:before,
.overlay-neonat-symptoms .no-table ul li:before,
.overlay-results-complementary-exams tr td.caption:before {
    content: "\2022";
    color: #e50005;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 2em;
    position: absolute;
    left: 1em;
    text-align: center;
}


.overlay-ongoing-treatment .overlay-title,
.overlay-results-complementary-exams .overlay-title {
    text-align: center;
}

.overlay-ongoing-treatment .overlay-title:before {
    background-image: url('../img/icons/ongoing-treatment.svg');
    height: 42px;
    width: 32px;
}

.overlay-way-of-life .overlay-title:before {
    background-image: url('../img/icon-drink-bike.svg');
    height: 47px;
    width: 53px;
}

.overlay-specialist-consultation-reports .overlay-title:before {
    background-image: url('../img/icon-reports.svg');
    height: 39px;
    width: 39px;
}

.overlay-results-complementary-exams .overlay-title:before {
    background-image: url('../img/icons/exam-results.svg');
    height: 39px;
    width: 39px;
}

.overlay-exam-results .overlay-title:before {
    background-image: url('../img/icons/exam-results.svg');
    height: 40px;
    width: 40px;
}

.overlay-neonat-symptoms .overlay-title:before {
    background-image: url('../img/icons/neonat-symptoms.svg');
    height: 40px;
    width: 40px;
}

.overlay-family-background .overlay-title:before {
    background-image: url('../img/icons/family-background.svg');
    height: 40px;
    width: 40px;
}
/*
.overlay-consultation-synthesis .btn-back,
.overlay-consultation-synthesis .btn-back-circle {
    margin-top: 2em;
}
*/
.patient-profile-picture {
    margin: 0;
    z-index: 10;
    position: relative;
}

.patient-profile-picture img {
    border: 7px solid #e50005;
    border-radius: 100%;
    margin-bottom: 10px;
}

.patient-profile-picture figcaption {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 10px 0 35px;
}

.medical-record-nav {
    margin: 0 auto;
    max-width: 640px;
    text-align: left;
}

.medical-record-nav li {
    margin: 0 0 65px;
    vertical-align: top;
    width: 25%;
}

.medical-record-nav li a {
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
    height: 85px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 85px;
    border-radius: 100%;
    background-color: #494b4d;
    border: 4px solid #868789;
    transition: all 450ms ease-out;
}

.medical-record-nav li a:hover {
    background-color: #bbbbbd;
    border-color: #e50005;
}

.medical-record-nav li a svg {
    fill: #FFF;
    stroke: #FFF;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.medical-record-nav li a:hover svg {
    fill: #868789;
    stroke: #868789;
}


.medical-record-nav a span {
    display: block;
    left: 50%;
    padding: 1em 0 0;
    position: relative;
    width: 160px;
    /**/
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

button.btn-back-circle,
a.btn-back-circle {
    background: none;
    border: 0;
    color: #fff;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    left: 25px;
    padding: 0;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: 25px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.btn-back-circle:before {
    content: '';
    background: url('../img/icons/icon-arrow-left-circle-white.svg') no-repeat 50% 50%;
    background-size: 32px;
    border-radius: 50%;
    display: inline-block;
    height: 32px;
    margin: 0 8px 0 0;
    vertical-align: middle;
    width: 32px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.btn-back-circle:hover,
.btn-back-circle:focus {
    color: #e50005;
}

.overlay .title-section,
.title-dashed {
    font-size: 24px;
    line-height: 13px;
    color: #ffffff;
    font-family: "Fira Sans";
    font-weight: 700;
    margin: 0 0 25px;
    padding: 10px 0;
    position: relative;
    border-bottom: 2px dashed #fff;
}

.title-section .date {
    float: right;
    font-size: 15px;
    font-size: 0.9375rem;
    font-style: italic;
    padding: 4px 0 0;
}

.overlay .table {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 0 25px;
}

.overlay .no-table {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 0 25px;
}

.overlay h3.table-cell {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0 0 0 5px;
    width: 160px;
}

.overlay .table-cell {
    padding: 0 0 0 35px;
}

.overlay-main-inner {
    /*height: 450px;*/
    overflow-x: hidden;
    overflow-y: scroll;
}

.overlay .btn-split {
    left: 25px;
    right: 25px;
}

.btn-split .btn-back {
    float: left;
    text-align: right;
    padding-right: 1.5em;
}

.btn-split .btn-back+.btn {
    float: right;
}

.overlay table {
    font-size: 18px;
    font-size: 1.125rem;
}

.overlay th {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    text-align: left;
    vertical-align: top;
    width: 160px;
}

.overlay td {
    padding: 0 0 0 30px;
}

.overlay td.empty {
    padding: 0;
    width: 0;
}

.overlay th+td {
    width: 180px;
}

.overlay td img {
    max-width: 300px;
}

.overlay-results-complementary-exams .overlay-main-inner {
    /*height: 393px;*/
}

.overlay-patient-profile {
    text-align: center;
}

.overlay-patient-profile table {
    font-size: 20px;
    font-size: 1.25rem;
}

.overlay-patient-profile th {
    border: 0;
    font-weight: normal;
    padding: 0 2px 0 0;
    text-align: right;
    width: 50%;
}

.overlay-patient-profile td {
    font-weight: bold;
    padding: 0 0 0 2px;
    text-align: left;
}

.overlay-patient-profile td span {
    font-weight: normal;
}

.overlay-patient-profile .patient-profile {
    border-radius: 15px;
    background-color: #ececee;
    width: auto;
    max-width: 75%;
    display: inline-block;
    padding: 15px;
    color: #010101;
    font-family: "Fira Sans";
    font-weight: 400;
    margin-top: -30px;
    padding-top: 30px;
    font-size: 24px;
}

.overlay-patient-profile .patient-profile .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.overlay-patient-profile .patient-profile .row>* {
    flex: 0 0 50%;
}

.overlay-patient-profile .patient-profile .row strong {
    text-align: left;
    padding-left: 0.25rem;
}

.overlay-patient-profile .patient-profile .row span {
    text-align: right;
    padding-right: 0.25rem;
}

/**
 * QUIT CONSULTATION
 * -----------------------------------------------------------------------------
 */
body.quit-consultation {
    background-image: url('../img/bg/cabinet.jpg');
}

.quit-consultation .site-main h1,
.quit-consultation .overlay-main h1 {
    margin: 60px 0 90px;
}

.quit-consultation .btn-wrapper {
    font-size: 0;
    /* INLINE BLOCK HACK */
    position: static;
}

.quit-consultation .btn-wrapper .btn {
    margin: 0 15px;
}

/**
 * LOADING
 * -----------------------------------------------------------------------------
 */
.loading .site-main h1 {
    margin: 50px 0 85px;
}

.loading .site-main img {
    display: block;
    margin: 0 auto;
}

/**
 * DIALOGUE
 * -----------------------------------------------------------------------------
 */
body.consultation-dialogue {
    background-image: url('../img/bg/cabinet.jpg');
}

.consultation-dialogue .site-main {
    padding: 20px 0 0;
}

.consultation-dialogue .btn-quit {
    background-color: #771519;
}


.consultation-dialogue .btn-quit:hover,
.consultation-dialogue .btn-quit:focus {
    /**/
    -webkit-box-shadow: inset 0 0 0 2px #2995d2;
    box-shadow: inset 0 0 0 2px #2995d2;
}

.consultation-dialogue .btn-quit:hover:before,
.consultation-dialogue .btn-quit:focus:before {
    background-color: #175171;
}

#speeches {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 30px;
    z-index: 1;
}

.speech-intro #speeches {
    position: relative;
    padding-bottom: 0px;
}

.speech-intro #speeches .speech-intro {
    position: fixed;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.speech-intro #speeches .speech-intro .contacts {
    list-style: none;
    margin: 0;
    display: flex;
    background: rgba(0,0,0,0.75);
    border-radius: 25px;
    padding: 25px;
    padding-bottom: 50px;
}

.speech-intro #speeches .speech-intro .contacts li {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    min-width: 0;
    border-right: 1px solid #FFF;
}

.speech-intro #speeches .speech-intro .contacts li:last-child {
    border-right: 0;
}

.speech-intro #speeches .speech-intro .contacts li .contact-avatar {
    border-radius: 100px;
    border: 3px solid #e50005;
    display: block;
    top: -62px;
    width: 62px;
    height: 62px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
}
.speech-intro #speeches .speech-intro .contacts li .contact-details {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    font-size: 20px;
}
.speech-intro #speeches .speech-intro .contacts li .contact-details .contact-name, .speech-intro #speeches .speech-intro .contacts li .contact-details .contact-job {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
}

.speech-intro #speeches .speech-intro .btn-start {
    border: 3px solid #e50005;
    background: #FFF;
    border-radius: 25px;
    font-size: 15px;
    color: #e50005;
    padding: .5em 1em;
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-top: -25px;
    font-weight: bold;
}

.speech-bubble {
    background: url(../img/dialogue-bg.png) repeat-x;
    background-size: auto 100%;
    color: #000;
    font-size: 20px;
    font-size: 1.25rem;
    height: 90px;
    left: 240px;
    padding: 15px 0px 15px 0px;
    position: absolute;
    top: 20px;
    width: calc(100vw - 240px - 75px - 22px);
    position: relative;
}

.speech-bubble:before {
    content: " ";
    position: absolute;
    left: -70px;
    top: 0;
    height: 100%;
    background: url(../img/dialogue-left-begin.png) no-repeat top left;
    background-size: 70px 100%;
    width: 70px;
}

.speech-bubble:after {
    content: " ";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    background: url(../img/dialogue-left-end.png) no-repeat top left;
    background-size: 22px 100%;
    width: 22px;
}

.speech-bubble.speech-bubble.speech-right {
    transform: translateX(-50px);
}

.speech-bubble.speech-bubble.speech-left {
    transform: translateX(50px);
}

.speech-bubble.speech-right:before {
    left: -22px;
    background: url(../img/dialogue-left-end.png) no-repeat top left;
    background-size: 22px 100%;
    width: 22px;
    transform: scaleX(-1);
}

.speech-bubble.speech-right:after {
    background: url(../img/dialogue-left-begin.png) no-repeat top right;
    background-size: 70px 100%;
    width: 70px;
    left: 100%;
    transform: scaleX(-1);
}

.speech-bubble .bubble-inner {
    height: 100%;
    overflow: hidden;
}

.speech-bubble .speech-avatar {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    height: 65px;
    position: absolute;
    right: calc(100% + 40px);
    top: 10px;
    width: 65px;
    border: 3px solid #83C4FB;
}


.speech-bubble.speech-right .speech-avatar {
    right: -100px;
}

/**
 * MEDICAL EXAM
 * -----------------------------------------------------------------------------
 */
body.clinical-exam {
    background-image: url('../img/bg/exam.jpg');
}

.clinical-exam .site-main {
    padding: 20px 0 0;
}

a.btn-quit-exam {
    background-color: #2995d2;
    float: left;
    margin: 0 25px;
    position: relative;
    top: 0;
}

a.btn-quit-exam:hover,
a.btn-quit-exam:focus {
    /**/
    -webkit-box-shadow: inset 0 0 0 2px #2995d2;
    box-shadow: inset 0 0 0 2px #2995d2;
}

a.btn-quit-exam:hover:before,
a.btn-quit-exam:focus:before {
    background-color: #175171;
}

.box-constants {
    background: #e51855;
    color: #fff;
    font-size: 15px;
    font-size: 0.9375rem;
    left: 60px;
    padding: 4px;
    position: absolute;
    top: 160px;
}

.box-constants li {
    padding: 10px 0;
    text-align: center;
    width: 50%;
}

.box-constants .bp {
    border-bottom: 1px solid #fff;
    width: 100%;
}

.box-constants .cf {
    border-right: 1px solid #fff;
}

.hotspot {
    position: absolute;
}

#hotspot01 {
    left: 900px;
    top: 270px;
}

.btn-hotspot {
    background: rgba(225, 97, 108, 0.8);
    border: 1px solid #fff;
    border-radius: 50%;
    direction: ltr;
    display: block;
    height: 30px;
    padding: 0;
    text-indent: -999em;
    width: 30px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.btn-hotspot:hover,
.btn-hotspot:focus {
    background-color: #e50005;
}

.btn-hotspot:before {
    content: '';
    border: 7px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: block;
    height: 36px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 36px;
    z-index: -1;
    /**/
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.hotspot .symptoms {
    background: rgba(255, 255, 255, 0.5);
    bottom: 100%;
    left: 50%;
    list-style: none;
    margin: 0 0 25px;
    opacity: 0;
    padding: 8px 5px;
    pointer-events: none;
    position: absolute;
    width: 160px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    /**/
    -webkit-transform: translateX(-50%) translateY(-10px);
    -moz-transform: translateX(-50%) translateY(-10px);
    -ms-transform: translateX(-50%) translateY(-10px);
    -o-transform: translateX(-50%) translateY(-10px);
    transform: translateX(-50%) translateY(-10px);
}

.hotspot.is-active .symptoms {
    opacity: 1;
    pointer-events: auto;
    /**/
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    -o-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}

.hotspot .symptoms:after {
    content: '';
    border: solid transparent;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(255, 255, 255, 0.5);
    border-width: 10px;
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}

.hotspot .symptoms li+li {
    margin: 5px 0 0;
}

.hotspot .symptoms button {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    padding: 5px;
    text-align: center;
    width: 100%;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.hotspot .symptoms button:hover,
.hotspot .symptoms button:focus {
    background: #e50005;
    color: #fff;
}

.btn-exam-report,
.btn-close-environment {
    background: url('../img/icons/exam-report.svg') no-repeat 50% 50% #e50005;
    background-size: 31px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #404040;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: bold;
    height: 64px;
    right: 70px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 64px;
    /**/
    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.7);
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.btn-close-environment {
    background-image: url(../img/icons/close.svg);
    top: 15px;
    right: 15px;
}

.btn-exam-report span,
.btn-close-environment span {
    display: block;
    left: 50%;
    position: relative;
    top: 50px;
    width: 100px;
    color: #FFF;
    /**/
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn-exam-report:hover,
.btn-exam-report:focus,
.btn-close-environment:hover,
.btn-close-environment:focus {
    background-color: #e50005;
}

.overlay-clinical-exam .overlay-title {
    text-align: center;
}

.overlay-clinical-exam .overlay-title:before {
    background-image: url('../img/icons/clinical-exam-red.svg');
    height: 41px;
    width: 41px;
}

.overlay-exam-report .overlay-title {
    margin: 0 0 50px;
}

.overlay-exam-report .overlay-title:before {
    background-image: url('../img/icons/exam-report-red.svg');
    background-size: 34px;
    height: 42px;
    width: 34px;
}

/**
 * COMPLEMENTARY EXAMS
 * -----------------------------------------------------------------------------
 */
body.complementary-exams {
    background-image: url('../img/bg/cabinet.jpg');
}

.complementary-exams .site-main {
    padding: 20px 0 0;
}

.overlay-complementary-exams .overlay-title {
    margin: 0 0 50px;
}

.overlay-complementary-exams .overlay-title:before {
    background-image: url('../img/icon-pen-paper.svg');
    height: 39px;
    width: 39px;
}

h2.question {
    font-size: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-bottom: 1.5em;
}


h2.question small {
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin-top: 1em;
}

.overlay-complementary-exams .overlay-main-inner {
    height: 440px;
}

.overlay-complementary-exams.overlay-with-scroll .overlay-main:after {
    content: '';
    background: url('../img/icon-scroll.svg') no-repeat 0 0;
    bottom: 0;
    display: block;
    height: 45px;
    left: 50%;
    position: absolute;
    width: 45px;
    /**/
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.comp-exams-form input[type="checkbox"] {
    display: none;
}

.comp-exams-form label {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 0 3px;
    padding: 13px 20px;
    text-align: left;
}

.comp-exams-form input:checked+label {
    background: #2995d2;
}

.comp-exams-form .row-submit {
    padding: 25px 0 0;
    text-align: center;
}

/**
 * DIAGNOSIS
 * -----------------------------------------------------------------------------
 */
body.diagnosis {
    background-image: url('../img/bg/cabinet.jpg');
}

.diagnosis .site-main {
    padding: 20px 0 0;
}

.overlay-diagnosis .overlay-title:before {
    content: none;
}

.overlay-diagnosis.overlay-with-scroll .overlay-main-inner:after {
    content: '';
    background: url('../img/icon-scroll.svg') no-repeat 0 0;
    bottom: 0;
    display: block;
    height: 45px;
    left: 50%;
    position: absolute;
    width: 45px;
    /**/
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.diagnosis .overlay figure {
    text-align: center;
}

.diagnosis .overlay img {
    max-width: 300px;
}

.overlay-diagnosis .btn-wrapper {
    padding: 0 25px;
}

.btn-right .btn {
    float: right;
}

.diagnosis-form input[type="checkbox"] {
    display: none;
}

.diagnosis-form label {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 0 3px;
    padding: 13px 20px;
    text-align: left;
}

.diagnosis-form input:checked+label {
    background: #2995d2;
}

.diagnosis-form .row-submit {
    padding: 25px 0 0;
    text-align: center;
}

/**
 * ANNEXE
 * -----------------------------------------------------------------------------
 */
body.annexe {
    background-image: url('../img/bg/cabinet.jpg');
}

.overlay-annexe .overlay-title {
    background: no-repeat 0 .25em;
    background-size: auto calc(100% - .5em);
}

.overlay-annexe .overlay-title:before {
    background-image: url('../img/icons/appendices-red.svg');
    height: 34px;
    width: 36px;
}

.overlay-annexe ol {
    counter-reset: myCount;
    font-size: 18px;
    font-size: 1.125rem;
    list-style: none;
}

.overlay-annexe ol li {
    counter-increment: myCount;
    margin: 0 0 25px;
}

.overlay-annexe ol li:before {
    content: counter(myCount) ".";
    color: #e50005;
    margin: 0 1.5em 0 0;
    font-weight: 700;
}

/**
 * QUIZ FORM
 * -----------------------------------------------------------------------------
 */
.quiz-form .input-container {
    position: absolute;
    left: 13px;
    top: 13px;
    height: 23px;
    width: 23px;
    display: block;
}

.quiz-form .input-container input[type="checkbox"],
.quiz-form .input-container input[type="radio"] {
    height: 23px;
    width: 23px;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.quiz-form .input-container:after,
.quiz-form .input-container:after,
.quiz-answers-list .answer:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 2px solid #e50005;
    border-radius: 100%;
    visibility: visible;
    cursor: pointer;
    transition: background-color 250ms ease-out;
    top: 0;
    left: 0;
}

.quiz-form label,
.quiz-answers-list .answer {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 0 3px;
    padding: 13px 20px;
    text-align: left;
    margin-left: 35px;
}

.quiz-form .input-container .checked {
    background-color: #868789;
    box-shadow: inset 0 0 0px 2px #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2px;
    left: 2px;
    z-index: 1;
    border-radius: 100%;
    display: none;
}

.quiz-form .input-container input:checked+.checked {
    display: block;
}

.quiz-answers-list .answer.is-wrong:before {
    background-color: #868789;
    box-shadow: inset 0 0 0px 2px #fff;
}

.quiz-answers-list .answer.correct:before, .quiz-answers-list .answer.is-wrong.correct:before {
    background-color: #35b71f;
    box-shadow: inset 0 0 0px 2px #fff;
}

.quiz-form .row-submit {
    padding: 25px 0 25px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.quiz-form fieldset,
.quiz-answers-list {
    border-radius: 15px;
    background-color: #ececee;
    padding: 1em;
}

.quiz-form .row,
.quiz-answers-list .row {
    position: relative;
    max-width: 75%;
    margin: auto;
}

/**
 * WAITING ROOM
 * -----------------------------------------------------------------------------
 */
body.waiting-room-01 {
    background-image: url('../img/bg/waiting-room/waiting-room-01-empty.jpg');
}

body.waiting-room-02 {
    background-image: url('../img/bg/waiting-room/waiting-room-02-empty.jpg');
}

body.waiting-room-webconf {
    background-image: url('../img/bg/waiting-room/waiting-room-webconf-empty.jpg');
}

.waiting-room .centred {
    z-index: 0;
}

.waiting-room .btn-wrapper .btn {
    padding-left: 40px;
    position: relative;
    z-index: 15;
}

.gif-wrapper {
    height: 100%;
    left: 50%;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 2048px;
    /**/
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.gif-link {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 15;
}

.gif-link img {
    max-width: inherit;
}

#gif-link-01 {
    left: 625px;
}

#gif-link-02 {
    left: 1138px;
    top: 15px;
}

.waiting-room .overlay .centred {
    height: 720px;
}

.waiting-room .overlay-title {
    margin: 0;
    text-align: left;
}

.waiting-room .patient-profile-picture {
    margin: 0 0 10px;
}

.consultation-choice {
    margin: 30px 0 50px;
}

.consultation-choice li {
    margin: 0 25px;
}

.consultation-choice li a {
    border: 5px solid #868789;
    background-color: #494b4d;
    border-radius: 50%;
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
    height: 85px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 85px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.consultation-choice li a:hover {
    background-color: #bbbbbd;
    border-color: #e50005;
}

.consultation-choice li a svg {
    height: 75%;
    margin-top: 12.5%;
    fill: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.consultation-choice li a:hover svg {
    fill: #868789;
}

.consultation-choice a span {
    display: block;
    left: 0;
    padding: 10px 0 0;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
}

.overlay-patient-profile .notice {
    color: #616161;
    font-size: 1.125rem;
    font-style: italic;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1em;
}

.overlay-waiting-room-choice .overlay-title:before {
    content: none;
}

.overlay-waiting-room-choice .overlay-title {
    margin: 0 0 50px;
}

.overlay-waiting-room-choice .table-cell {
    padding: 0 15px 65px 0;
    position: relative;
}

.overlay-waiting-room-choice .table-cell+.table-cell {
    padding: 0 0 65px 15px;
}

.overlay-waiting-room-choice .table-cell figure {
    margin: 0 0 10px;
}

/**
 * CONSULTATION SYNTHESIS
 * -----------------------------------------------------------------------------
 */
.overlay-consultation-synthesis .overlay-title:before,
.overlay-global-conclusion .overlay-title:before {
    content: none;
}

a.btn-back-basic {
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    height: 30px;
    line-height: 30px;
    right: 25px;
    padding: 0 0 0 35px;
    position: absolute;
    text-decoration: none;
    top: 25px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

ul.synthesis-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.synthesis-list li {
    margin: 0 0 8px;
}

.synthesis-list a {
    background: url('../img/icon-microscope.svg') no-repeat 10px 50% #2995d2;
    background-size: 23px;
    color: #fff;
    display: block;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 50px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.synthesis-list a:hover,
.synthesis-list a:focus {
    background-color: #175171;
}

.synthesis-list .diagnosis a {
    background-image: url('../img/icon-clipboard.svg');
}

.synthesis-list .treatment-prescription a {
    background-image: url('../img/icon-prescription.svg');
    background-size: 29px;
}

.synthesis-list .follow-up a {
    background-image: url('../img/icon-follow-up.svg');
}

.synthesis-list .patient-management a {
    background-image: url('../img/icon-management.svg');
    background-size: 27px;
}

.synthesis-list a:after {
    content: '';
    background: url('../img/icon-arrow-right-circle.svg') no-repeat 0 0;
    display: block;
    height: 30px;
    position: absolute;
    right: 8px;
    top: 50%;
    width: 30px;
    /**/
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.synthesis-title {
    background: url('../img/icon-microscope.svg') no-repeat 10px 50% #2995d2;
    background-size: 23px;
    color: #fff;
    font-size: 24px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin: 0 0 20px;
    padding: 0 0 0 50px;
    text-align: left;
    text-transform: uppercase;
}

.synthesis-title.diagnosis {
    background-image: url('../img/icon-clipboard.svg');
}

.synthesis-title.treatment-prescription {
    background-image: url('../img/icon-prescription.svg');
}

.synthesis-title.follow-up {
    background-image: url('../img/icon-follow-up.svg');
}

.synthesis-title.patient-management {
    background-image: url('../img/icon-management.svg');
    background-size: 27px;
}

.overlay-consultation-synthesis .question {
    padding: 0 15px;
}

.overlay-consultation-synthesis .question:after {
    margin: 30px 0 20px;
}

.quiz-answers-list {
    margin-bottom: 5em;
}

.quiz-answers-list .answer,
.quiz-answers-list .synthesis {
    color: #000;
}

.quiz-answers-list .answer {
    position: relative;
    cursor: auto;
}

.quiz-answers-list .answer:before {
    width: 20px;
    height: 20px;
    top: 10px;
    left: -1em;
    cursor: auto;
}

.quiz-answers-list .synthesis {
    margin-top: 1em;
}

.comments-bubble {
    background: #fff;
    bottom: 80px;
    color: #000;
    font-size: 18px;
    font-size: 1.125rem;
    height: 0;
    left: 25px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 25px;
    /**/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.comments-bubble:after {
    content: '';
    border: solid transparent;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}

.comments-bubble.is-open {
    opacity: 1;
    padding: 30px 15px;
    pointer-events: auto;
}

.comments-bubble li {
    margin: 0 0 15px;
}

.btn-close-comments {
    background: url('../img/icon-close.svg') no-repeat 0 0;
    background-size: 16px;
    border: 0;
    direction: ltr;
    display: block;
    height: 16px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-indent: -999em;
    top: 10px;
    width: 16px;
}

.overlay-global-conclusion.overlay-with-scroll .centred {
    background: no-repeat 50% 100%;
}

.overlay-global-conclusion .overlay-main-inner {
    height: 470px;
}

.overlay-global-conclusion .title-section {
    margin: 0 0 20px;
}

.overlay-global-conclusion .title-section:after {
    content: none;
}

ul.check-list {
    list-style: none;
    padding: 0;
}

ul.check-list>li {
    background: url('../img/icon-check.svg') no-repeat 0 4px;
    margin: 0 0 15px;
    padding: 0 0 0 25px;
}

ul.check-list ul {
    font-size: 15px;
    font-size: 0.9375rem;
    margin: 10px 0 0 70px;
}

/**
 * SHARE
 * -----------------------------------------------------------------------------
 */
body.share {
    background-image: url('../img/bg/exam.jpg');
}

.share .site-main {
    text-align: center;
}

.share button.btn-back-circle,
.share a.btn-back-circle {
    display: inline-block;
    position: static;
}

.share-form .row {
    margin: 0 0 3px;
}

.share-form input,
.share-form textarea {
    font-style: italic;
    padding: 0 12px;
    text-align: left;
}

.share-form textarea {
    padding: 12px;
}


.hidden {
    display: none !important;
}



/* Phone call */
.phone-call {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    width: 250px;
    margin: 150px auto 0;
    text-align: center;
    padding-bottom: 2em;
}

.phone-call .phone-call-avatar {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 100%;
    background-color: #bbbbbd;
    border: 5px solid #e50005;
}

.phone-call .phone-call-inner {
    margin-bottom: 2em;
    padding-top: 1.5em;
    background: url(../img/icons/sound-wave.svg) repeat-x center calc(100% + 25px);
    background-size: 75px;
}


.phone-call .phone-call-inner h2 {
    margin: 0;
}

.phone-call .phone-call-inner p.subtitle {
    margin: 0;
    font-size: small;
}

.phone-call .phone-call-inner .btn-call {
    border-radius: 100%;
    background-color: #fefefe;
    margin-bottom: -15px;
    opacity: 0.85;
    width: 52px;
    height: 52px;
    padding: 5px;
    border: 0;
    margin-top: 2em;
    border: 2px solid #e50005;
}

.phone-call .phone-call-inner .btn-call img {
    width: 80%;
    height: auto;
}

.sources {
    color: #000;
    opacity: 0.8;
    font-style: italic;
}

.sources p {
    /*margin: 0;
    display: inline;*/
}

.overlay-annexe .no-table li a {
    color: #000;
}

.sources a {
    background: transparent;
    font-size: 1em;
    display: inline;
    color: #000;
    margin: 0;
    padding: 0;
    text-transform: inherit;
    height: auto;
    line-height: inherit;
}
div.overlay.overlay-consultation-synthesis.overlay-with-padding.overlay-with-scroll 
div button.btn-back-circle{
    top : 45px;
    transition: none;
}

div.overlay.overlay-consultation-synthesis a.btn-back.btn-back-basic.btn-done{
    top: 45px;
    transition: none;
}