<h1>{{{i18n "consultation.finishMessage"}}}</h1>

<div class="btn-wrapper">
    <a href="#" class="btn btn-red btn-back js-finish">{{{i18n "action.finish"}}}</a>
    <a href="#" class="btn js-back">{{{i18n "action.back"}}}</a>
</div>
