<br><br>
<h1>{{{i18n "meeting.finishedMessage"}}}</h1>

{{#if this.data.consultations}}
    <h3>{{{i18n "meeting.statistics.title"}}}</h3>

    <p>{{{i18n "meeting.statistics.nbParticipants"}}}: {{this.data.nbParticipantsMeeting}}</p>

    <h4>{{{i18n "meeting.statistics.usedCases"}}}: </h4>
    <ul class="statistics">
        {{#each this.data.consultations}}
            <li>
                <p>{{this.data.0.label}}</p>
                <ul>
                    <li><p>{{{i18n "meeting.statistics.nbQuestions"}}}: {{len this.questions}}</p></li>
                    <li><p>{{{i18n "meeting.statistics.percentageAnswered"}}}: {{this.percentageAnswered}}%</p></li>
                </ul>
                <h4>{{{i18n "meeting.statistics.questionsTitle"}}}: </h4>
                {{#each this.questions}}
                    <p><strong>{{this.label}}</strong></p>
                    <p>{{{i18n "meeting.statistics.nbAnswers"}}}: {{this.nbAnswers}}</p>
                    {{#if this.nbAnswers}}
                        <p>{{{i18n "meeting.statistics.goodAnswers"}}}: {{this.percentageGood}}%</p>
                        <p>{{{i18n "meeting.statistics.wrongAnswers"}}}: {{this.percentageWrong}}%</p>
                    {{/if}}
                {{/each}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <img src="img/loader.svg" alt="Loading" height="188" width="188" class="img-loading">
{{/if}}