<h1>{{{i18n "participantAuthenticationForm.title"}}}</h1>

<form id="connect-form" action="" class="form-connect participant-connect">
    <fieldset>
        <div class="row message"></div>

        <div class="row">
            <input type="text" name="code" id="code" placeholder="{{{i18n 'participantAuthenticationForm.placeholders.participant_code'}}}">
        </div>

        <div class="row text-right fields-required">
            {{{i18n "participantAuthenticationForm.requiredMessage"}}}
        </div>

        <div class="row-submit">
            <a href="#" class="btn btn-red btn-back">{{i18n "action.back"}}</a>
            <button class="btn" type="submit">{{i18n "action.start"}}</button>
        </div>
    </fieldset>
</form>
