<h1>{{{i18n "trainerAuthenticationForm.title"}}}</h1>

<form id="connect-form" action="" class="form-connect trainer-connect">
    <fieldset>
        <div class="row message"></div>
        <div class="row">
            <input type="email" name="login" id="login" placeholder="{{{i18n 'trainerAuthenticationForm.placeholders.login'}}}">
        </div>
        <div class="row text-right fields-required">
            {{{i18n "trainerAuthenticationForm.requiredMessage"}}}
        </div>
        <div class="row-submit">
            <a href="#" class="btn btn-red btn-back">{{i18n "action.back"}}</a>
            <button class="btn" type="submit">{{i18n "action.start"}}</button>
        </div>
    </fieldset>
</form>
