<h1>{{{i18n 'eventParticipantsForm.title'}}}</h1>

<div class="participants-panels">
    <div class="panel">
        <div class="panel-header">
            <h3>{{{i18n 'eventParticipantsForm.find_participants'}}}</h3>
            <form action="" id="search-participant">
                <div class="row">

                    <input type="text" id="first_name" name="firstName" class="form-control" placeholder="{{{i18n 'eventParticipantsForm.placeholders.first_name'}}}">

                    <input type="text" id="last_name" name="lastName" class="form-control" placeholder="{{{i18n 'eventParticipantsForm.placeholders.last_name'}}}">

                    <select name="country" id="country" class="form-control">
                        <option disabled selected>{{{i18n 'eventParticipantsForm.placeholders.country'}}}</option>
                        {{#each data.countries}}
                            <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    </select>

                    <button id="find-button" type="submit">{{i18n "action.ok"}}</button>

                </div>
            </form>
        </div>
        <div class="panel-content">
            <div class="list-wrapper">
                {{#if data.TemplatePendingParticipants}}
                    <ul class="pending">
                        {{#each data.TemplatePendingParticipants}}
                            <li class="filled" data-index="{{@index}}">
                                <p class="name">{{this.firstname}} {{this.lastname}}</p>
                                {{#if this.workplace.name}}
                                    <small>{{this.workplace.name}}</small><br>
                                    <small>{{this.workplace.address1}}</small><br>
                                    <small>{{this.workplace.zipcode}} {{this.workplace.city}}, {{this.workplace.state}}, {{this.workplace.country}}</small>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h3>{{{i18n 'eventParticipantsForm.your_participants'}}}</h3>

            <div class="text-center">
                <a href="#" id="add-participant">{{{i18n 'eventParticipantsForm.enter_manually'}}}</a>
            </div>
        </div>
        <div class="panel-content">
            <div class="list-wrapper right">
                {{#if data.TemplateChosenParticipants}}
                    <ul class="chosen">
                        {{#each data.TemplateChosenParticipants}}
                            <li class="filled">
                                <p class="name">{{this.firstname}} {{this.lastname}} - {{this.code}}</p>
                                {{#if this.workplace.name}}
                                    <small>{{this.workplace.name}}</small><br>
                                    <small>{{this.workplace.address1}}</small><br>
                                    <small>{{this.workplace.zipcode}} {{this.workplace.city}}, {{this.workplace.state}}, {{this.workplace.country}}</small>
                                {{/if}}
                                <span class="remove" data-index="{{@index}}">&times;</span>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<a href="#" class="btn-send-right" id="select-participant"></a>

<div class="row-submit text-center">
    <button class="btn" type="submit">{{i18n "action.start"}}</button>
</div>

<div class="modal-overlay">
    <div class="modal-participant">
        <div class="modal-header">
            {{{i18n 'eventParticipantsForm.add_participant'}}}
            <a href="#" class="modal-close">&times;</a>
        </div>
        <div class="modal-content">
            <form action="" id="add-custom-participant">
                <div class="row">

                    <input type="text" id="custom_first_name" name="custom_first_name" placeholder="{{{i18n 'eventParticipantsForm.placeholders.first_name'}}}">

                    <input type="text" id="custom_last_name" name="custom_last_name" placeholder="{{{i18n 'eventParticipantsForm.placeholders.last_name'}}}">

                    <select name="custom_country" id="custom_country">
                        <option disabled selected>{{{i18n 'eventParticipantsForm.placeholders.country'}}}</option>
                        {{#each data.countries}}
                            <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    </select>


                    <button class="btn" type="submit">{{i18n "action.ok"}}</button>

                </div>
            </form>
        </div>
    </div>
</div>
