<h1>{{{i18n 'eventInformationForm.title'}}}</h1>

<div class="text-center rejoin-block">
    <p>
        {{{i18n 'eventInformationForm.active_message'}}}
        <a href="#" class="rejoin-link">
            {{{i18n 'eventInformationForm.load_active_meeting'}}}
        </a>
    </p>
</div>

<form id="event-form" action="" class="form-event">
    <fieldset>
        <div class="row message"></div>
        <div class="row">
            <input type="text" name="name" id="name" placeholder="{{{i18n 'eventInformationForm.placeholders.event_name'}}}">
        </div>
        <div class="row">
            <input type="text" name="venue" id="venue" placeholder="{{{i18n 'eventInformationForm.placeholders.event_venue'}}}">
        </div>
        <div class="row">
            <div class="select-wrapper">
                <select name="meeting-type" id="meeting-type">
                    <option disabled selected>{{{i18n 'eventInformationForm.placeholders.meeting_type'}}}</option>
                    <option value="Peer to Peer">{{{i18n 'eventInformationForm.types.peer2peer'}}}</option>
                    <option value="Round Table">{{{i18n 'eventInformationForm.types.round_table'}}}</option>
                    <option value="National Meeting">{{{i18n 'eventInformationForm.types.national_meeting'}}}</option>
                    <option value="International Meeting">{{{i18n 'eventInformationForm.types.international_meeting'}}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="select-wrapper">
                <select name="product" id="product">
                    <option value="AGRYLIN" selected>{{{i18n 'eventInformationForm.types.agrylin'}}}</option>
                </select>
            </div>
        </div>

        <div class="row text-center fields-required">
            {{{i18n "trainerAuthenticationForm.requiredMessage"}}}
        </div>

        <div class="row text-center form-error" style="display:none;">
            {{{i18n "eventInformationForm.formErrors"}}}
        </div>

        <div class="row-submit text-center">
            <br>
            <button class="btn" type="submit">{{i18n "action.start"}}</button>
        </div>
    </fieldset>
</form>
