
<h1>{{{i18n "consultation.consultationSteps.title"}}}</h1>

<ul id="consultation-steps" class="flat-list consultation-steps"></ul>

{{#if data.isNotTrainer}}
<a class="btn-quit" href="#">
    <span class="table">
        <span class="table-cell">{{{data.labelBtnQuit}}}</span>
    </span>
</a>
{{/if}}