{{#each items}}
<button class="step-{{className}} btn-consultation-steps{{#if slugTitleQuit}} canQuit{{/if}}" data-module="{{moduleName}}" type="button">
    <div class="menu-icon">
        <img src="/img/icons/{{className}}.svg">
    </div>
    <span class="caption default-text">
        {{i18n slugTitle}}
    </span>
    {{#if slugTitleQuit}}
    <span class="caption quit-text hidden">
        {{i18n slugTitleQuit}}
    </span>
    {{/if}}
</button>
{{/each}}
<button class="finish btn-consultation-steps" data-module="finish" id="finish-consultation-button" type="button">
    <div class="menu-icon">
        <img src="/img/icons/consultation-feedback.svg">
    </div>
    <span class="caption">
        {{i18n "consultation.quit"}}
    </span>
</button>