{{#if items.length}}
    <h2 class="title-section">{{i18n "consultation.medicalFiles.medicalHistory.sections.disease"}}</h2>
    {{#each items}}
    <div class="no-table">
        {{#if disease}}
            <h3>{{{disease}}}</h3>
        {{/if}}
        {{#if timeData}}
            <div>{{{timeData}}}</div>
        {{/if}}
        {{#if treatment}}
            <div>{{{treatment}}}</div>
        {{/if}}
        {{#if observationsValue}}
            <div>{{{observationsValue}}}</div>
        {{/if}}
    </div>
    {{/each}}
{{/if}}