<h2 class="title-section">{{i18n "consultation.medicalFiles.medicalHistory.sections.others"}}</h2>

{{#if items.length}}
    {{#each items}}
    <div class="no-table">
        {{#if date}}
            <div>{{{date}}}</div>
        {{/if}}
        {{#if observationsValue}}
            <div>{{{observationsValue}}}</div>
        {{/if}}
    </div>
    {{/each}}
{{else}}
<div class="no-table">
    <p>{{i18n "consultation.medicalFiles.medicalHistory.none"}}</p>
</div>
{{/if}}