<h2 class="title-section">{{i18n "consultation.medicalFiles.medicalHistory.sections.family"}}</h2>

{{#if items.length}}
    {{#each items}}
    <div class="no-table">
        {{#if disease}}
            <h3>{{{disease}}}</h3>
        {{/if}}
        {{#if observationsValue}}
            <div>{{{observationsValue}}}</div>
        {{/if}}
    </div>
    {{/each}}
{{else}}
<div class="no-table">
    <p>{{i18n "consultation.medicalFiles.medicalHistory.none"}}</p>
</div>
{{/if}}