<div class="overlay-main-inner">
</diV>

<div class="btn-wrapper btn-split">
    <a href="#" class="btn btn-red btn-back" title="{{i18n "action.previous"}}">{{i18n "action.previous"}}</a>
    <a href="#" class="btn btn-red btn-next" title="{{i18n "action.next"}}">{{i18n "action.next"}}</a>
</div>