<figure class="patient-profile-picture">
    {{#if data.patientProfilePicture}}
    <img src="{{data.patientProfilePicture}}" alt="{{data.patientFullName}}" height="131" width="145" />
    {{/if}}
    <figcaption>{{{data.patientFullName}}}</figcaption>
</figure>

<nav class="medical-record-nav">
    <ul id="medical-files" class="flat-list"></ul>
</nav>