<a href="#" title="{{{i18n slugTitle}}}">
    {{#ifEqual className "neonat-symptoms"}}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 141.7 141.7">
        <path
            d="M102.7 9c-16.3 0-26.9 9.4-31.9 15.3C65.8 18.4 55.2 9 38.9 9 17.9 9 2.8 26.2 2.8 47.4c0 8.3 2.4 15.2 6.3 21.4H6.8c-2.2 0-4 1.8-4 4s1.8 4 4 4h8.5c4.4 4.9 9.6 9.6 15.1 14.5 12.3 11 26.2 23.4 37 43.2.7 1.3 2 2.1 3.5 2.1s2.8-.8 3.5-2.1c10.8-19.9 24.7-32.3 37-43.2 5.5-4.9 10.7-9.6 15.1-14.5h8.5c2.2 0 4-1.8 4-4s-1.8-4-4-4h-2.4c3.9-6.2 6.3-13 6.3-21.4C138.8 26.2 123.7 9 102.7 9zm-92 38.4C10.7 30.1 22.9 17 38.9 17c7.7 0 14.8 2.6 21.1 7.9 4.8 4 7.3 8.1 7.4 8.1.7 1.2 2 1.9 3.4 1.9s2.7-.7 3.4-1.9c0 0 2.5-4.1 7.4-8.1C87.9 19.6 95 17 102.7 17c16.1 0 28.2 13.1 28.2 30.4 0 8.4-3.1 15.1-8.1 21.4H97.6l-7.1-21.2c-.5-1.6-2-2.7-3.7-2.7s-3.2 1-3.8 2.5L70.4 79l-12-24c-.7-1.4-2.1-2.2-3.6-2.2s-2.9.9-3.6 2.2l-6.9 13.7H18.9c-5.1-6.2-8.2-12.8-8.2-21.3zM106 85.3c-11 9.8-24.3 21.7-35.2 39.3C59.9 107 46.6 95.1 35.6 85.3c-3.4-3-6.5-5.8-9.3-8.5h20.6c1.5 0 2.9-.9 3.6-2.2l4.4-8.8 12.4 24.8c.7 1.4 2.1 2.2 3.6 2.2h.2c1.6-.1 3-1 3.5-2.5l11.9-29.8L90.9 74c.5 1.6 2.1 2.7 3.8 2.7h20.6c-2.8 2.8-6 5.6-9.3 8.6z" stroke-width="5" stroke-miterlimit="10" /></svg>
    {{/ifEqual}}
    {{#ifEqual className "patient-profile"}}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
        <g stroke-width="6" stroke-miterlimit="10">
            <path
                d="M254.4 208.7v-15.9c0-20.7-10.2-39.1-25.8-50.4 6.2-7.9 10-17.9 10-28.7 0-25.6-20.8-46.5-46.5-46.5-25.6 0-46.5 20.8-46.5 46.5 0 10.8 3.7 20.8 10 28.7-15.6 11.3-25.8 29.7-25.8 50.4v15.9a14.77 14.77 0 0 0 14.8 14.8h95a14.77 14.77 0 0 0 14.8-14.8zM192.1 96.8c9.3 0 16.9 7.6 16.9 16.9s-7.6 16.9-16.9 16.9-16.9-7.6-16.9-16.9 7.6-16.9 16.9-16.9zm32.7 97.1h-65.4v-1.1c0-18 14.7-32.7 32.7-32.7s32.7 14.7 32.7 32.7v1.1z" />
            <use xlink:href="#B" />
            <use xlink:href="#C" />
            <use xlink:href="#B" y="63.3" />
            <use xlink:href="#C" y="63.3" />
            <use xlink:href="#B" y="126.7" />
            <use xlink:href="#C" y="126.7" />
            <path
                d="M440.1 87.4L360.9 8.2c-2.8-2.8-6.5-4.3-10.5-4.3H112.9c-25.4 0-46.5 20.5-46.5 46.5v411.8c0 25.4 20.6 46.5 46.5 46.5H398c25.4 0 46.5-20.5 46.5-46.5V97.8c-.1-3.9-1.6-7.6-4.4-10.4zm-30.3 11.5h-60.4V38.5l60.4 60.4zM398 479H112.9c-9.3 0-16.9-7.5-16.9-16.9V50.3c0-9.3 7.5-16.9 16.9-16.9h206.9v80.2a14.77 14.77 0 0 0 14.8 14.8h80.2V462c0 9.4-7.5 17-16.8 17z" />
        </g>
        <defs>
            <path id="B" d="M366.3 257.3H255.4a14.77 14.77 0 1 0 0 29.6h110.9a14.77 14.77 0 1 0 0-29.6z" />
            <path id="C"
                d="M192.1 257.3h-47.5a14.77 14.77 0 1 0 0 29.6h47.5a14.77 14.77 0 0 0 14.8-14.8c0-8.2-6.7-14.8-14.8-14.8z" />
        </defs>
    </svg>
    {{/ifEqual}}
    {{#ifEqual className "medical-history"}}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
            d="M280.5 398.2c4 .6 8-.4 10.2-1.6l213.4-112.4c7.2-3.8 10-12.7 6.2-20-3.8-7.2-12.7-10-20-6.2L281.4 368.3 49.6 318.7c-13.7-2.9-22.4-16.4-19.5-30.1s16.4-22.4 30.1-19.5l223.6 47.5c2.3 0 4.7-.5 6.9-1.7l213.4-112.4c7.2-3.8 10-12.7 6.2-20-3.8-7.2-12.7-10-20-6.2L281.1 286.6 49.6 237.1c-13.7-2.9-22.4-16.4-19.5-30.1s16.4-22.4 30.1-19.5L270 232c2.5 0 4.8-.8 6.9-2l214.2-111c14.4-7.5 13.2-16.2-2.8-19.3L280.6 59.1c-16-3.1-40.9.2-55.5 7.4L33 161c-3.1 1.5-5.4 3.2-7.1 4.8-12.2 7.6-21.4 19.9-24.7 35-4.3 19.9 2.9 39.6 17 52.3-8.3 7.5-14.5 17.5-17 29.3-4.3 19.9 2.9 39.7 17.1 52.4-8.4 7.5-14.5 17.5-17.1 29.3-6.4 29.6 12.5 58.8 42.2 65.2L282 480c2.6-.3 6.4-.5 8.6-1.7L504 365.9c7.2-3.8 10-12.7 6.2-20-3.8-7.2-12.7-10-20-6.2L281.1 449.9 49.6 400.4c-13.7-2.9-22.4-16.4-19.5-30.1s16.4-22.4 30.1-19.5c0 .1 219.9 47.4 220.3 47.4zm-12.4-290.4l99.5 20.1-43.8 20.7-99.4-20.1 43.7-20.7z" />
    </svg>
    {{/ifEqual}}
    {{#ifEqual className "family-background"}}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" stroke="#000" stroke-width="3.914"
        stroke-miterlimit="10">
        <path
            d="M454.6 297.1c-3.4-4.4-9.6-5.2-14-1.8s-5.2 9.6-1.8 14c10.2 13.3 15.6 29.2 15.6 46 0 5.5 4.5 10 10 10s10-4.5 10-10c-.1-21.3-6.9-41.4-19.8-58.2zm-33.5-66.8c20.2-13.6 33.5-36.8 33.5-62.9 0-41.8-34-75.9-75.9-75.9s-75.9 34-75.9 75.9c0 26.1 13.3 49.3 33.5 62.9-14.7 5-28.5 12.6-40.7 22.5-10.3-10-24.2-15.7-38.9-15.7-14.6 0-28.5 5.7-38.9 15.7-12.2-9.9-26-17.5-40.7-22.5 20.2-13.6 33.5-36.7 33.5-62.9 0-41.8-34-75.9-75.9-75.9-41.8 0-75.9 34-75.9 75.9 0 26.2 13.3 49.3 33.5 62.9C40.6 248 3.1 297.2 3 355v.3c0 15.3 8.7 37.8 50.1 58.5 29.5 14.7 70 25.8 117.2 32 27.7 3.6 56.8 5.5 86.6 5.5s59-1.9 86.6-5.5c47.2-6.2 87.7-17.3 117.2-32 41.4-20.7 50.1-43.2 50.1-58.5-.1-58-37.7-107.3-89.7-125zm-98.3-62.9c0-30.9 25.1-56 56-56s56 25.1 56 56c0 30.8-25.1 55.9-56 55.9s-56-25.1-56-55.9zm-95.7 105.2c6.8-9.7 17.9-15.6 29.7-15.6s22.9 5.8 29.7 15.6a36.1 36.1 0 0 1 6.4 20.6c0 19.9-16.2 36.2-36.2 36.2-19.9 0-36.2-16.2-36.2-36.2.2-7.4 2.4-14.6 6.6-20.6zM79 167.4c0-30.9 25.1-56 55.9-56 30.9 0 56 25.1 56 56 0 30.8-25.1 55.9-56 55.9S79 198.2 79 167.4zm82.6 257c-40.1-6.1-74.4-15.9-99.6-28.5-25.1-12.5-39-26.9-39-40.6v-.1c0-61.7 50.2-112 112-112 26.3 0 51.3 9.1 71.4 25.7-3.6 7.5-5.5 15.8-5.5 24.2 0 17.3 7.9 32.8 20.3 43.1-34.9 14.3-59.5 48.4-59.6 88.2zm170.6 2.7c-24.2 2.8-49.5 4.3-75.4 4.3-25.8 0-51.2-1.4-75.4-4.3v-2.4c0-41.6 33.8-75.4 75.4-75.4s75.4 33.8 75.4 75.4v2.4zm119.5-31.2c-25.2 12.6-59.5 22.4-99.6 28.5-.1-39.8-24.7-73.9-59.5-88.1 12.4-10.3 20.3-25.8 20.3-43.1 0-8.5-1.9-16.7-5.5-24.2 20-16.6 45.1-25.7 71.4-25.7 61.7 0 112 50.2 112 112 0 13.6-13.9 28-39.1 40.6zm-27-122.2c-12.8 0-12.8 19.9 0 19.9s12.9-19.9 0-19.9z" />
    </svg>
    {{/ifEqual}}
    {{#ifEqual className "ongoing-treatment"}}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" stroke="#000" stroke-width="4.882"
        stroke-miterlimit="10">
        <path
            d="M368.5 3H149.8C109 3 75.7 36.2 75.7 77.1v357.7c0 40.9 33.2 74.1 74.1 74.1h218.7c40.9 0 74.1-33.2 74.1-74.1V77.1c0-40.9-33.2-74.1-74.1-74.1zM413 434.8c0 24.5-19.9 44.5-44.5 44.5H149.8c-24.5 0-44.5-19.9-44.5-44.5V77.1c0-24.5 19.9-44.5 44.5-44.5h218.7c24.5 0 44.5 19.9 44.5 44.5v357.7zM209.1 78.9c-8.3-8.3-19.3-12.8-31-12.8s-22.7 4.6-31 12.8c-8.3 8.3-12.8 19.3-12.8 31s4.6 22.7 12.8 31l27.3 27.3c8.5 8.5 19.8 12.8 31 12.8s22.4-4.3 31-12.8c17.1-17.1 17.1-44.9 0-61.9l-27.3-27.4zm6.3 68.3c-5.5 5.5-14.5 5.5-20 0l-27.3-27.3c-5.5-5.5-5.5-14.5 0-20 2.7-2.7 6.2-4.1 10-4.1s7.3 1.5 10 4.1l27.3 27.3c5.5 5.5 5.5 14.5 0 20zm-6.3 64.1c-8.3-8.3-19.3-12.8-31-12.8s-22.7 4.6-31 12.8c-17.1 17.1-17.1 44.9 0 61.9l27.3 27.3c8.5 8.5 19.8 12.8 31 12.8s22.4-4.3 31-12.8c17.1-17.1 17.1-44.9 0-61.9l-27.3-27.3zm6.3 68.3c-5.5 5.5-14.5 5.5-20 0l-27.3-27.3c-5.5-5.5-5.5-14.5 0-20 2.7-2.7 6.2-4.1 10-4.1s7.3 1.5 10 4.1l27.3 27.3c5.5 5.5 5.5 14.5 0 20zm-6.3 64.1c-8.3-8.3-19.3-12.8-31-12.8s-22.7 4.6-31 12.8c-17.1 17.1-17.1 44.9 0 61.9l27.3 27.3c8.5 8.5 19.8 12.8 31 12.8s22.4-4.3 31-12.8c17.1-17.1 17.1-44.9 0-61.9l-27.3-27.3zm6.3 68.3c-5.5 5.5-14.5 5.5-20 0l-27.3-27.3c-5.5-5.5-5.5-14.5 0-20s14.5-5.5 20 0l27.3 27.3c5.5 5.5 5.5 14.5 0 20zM343.9 78.9c-17.1-17.1-44.9-17.1-61.9 0-17.1 17.1-17.1 44.9 0 61.9l27.3 27.3c8.3 8.3 19.3 12.8 31 12.8s22.7-4.6 31-12.8c17.1-17.1 17.1-44.9 0-61.9l-27.4-27.3zm6.4 68.3c-5.5 5.5-14.5 5.5-20 0L303 119.9c-5.5-5.5-5.5-14.5 0-20 2.8-2.8 6.4-4.1 10-4.1s7.2 1.4 10 4.1l27.3 27.3c5.5 5.5 5.5 14.5 0 20zm-6.4 64.1c-17.1-17.1-44.9-17.1-61.9 0-17.1 17.1-17.1 44.9 0 61.9l27.3 27.3c8.3 8.3 19.3 12.8 31 12.8s22.7-4.6 31-12.8c17.1-17.1 17.1-44.9 0-61.9l-27.4-27.3zm6.4 68.3c-2.7 2.7-6.2 4.1-10 4.1s-7.3-1.5-10-4.1L303 252.3c-5.5-5.5-5.5-14.5 0-20 2.8-2.8 6.4-4.1 10-4.1s7.2 1.4 10 4.1l27.3 27.3c5.5 5.5 5.5 14.5 0 20zm-6.4 64.1c-17.1-17.1-44.9-17.1-61.9 0-17.1 17.1-17.1 44.9 0 61.9l27.3 27.3c8.3 8.3 19.3 12.8 31 12.8s22.7-4.6 31-12.8c17.1-17.1 17.1-44.9 0-61.9l-27.4-27.3zm6.4 68.3c-5.5 5.5-14.5 5.5-20 0L303 384.7c-5.5-5.5-5.5-14.5 0-20 2.8-2.8 6.4-4.1 10-4.1s7.2 1.4 10 4.1l27.3 27.3c5.5 5.5 5.5 14.5 0 20z" />
    </svg>
    {{/ifEqual}}
    {{#ifEqual className "exam-results"}}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
            d="M348.9 96.6V82.9c0-11.5-9.3-20.8-20.9-20.8h-30.8c2.9-6 4.6-12.4 4.6-19.3 0-23.5-19.1-42.7-42.6-42.7s-42.6 19.2-42.6 42.8c0 6.9 1.7 13.3 4.6 19.2H180c-11.5 0-20.8 9.3-20.8 20.8v13.7h-52.5c-18.7 0-33.8 15.1-33.8 33.8V477c0 18.7 15.1 33.8 33.8 33.8h294.8c18.7 0 33.8-15.1 33.8-33.8V130.3c0-18.7-15.1-33.8-33.8-33.8l-52.6.1zM233.8 42.8c0-14 11.4-25.5 25.4-25.5s25.4 11.5 25.4 25.6c0 7.7-3.4 14.6-8.7 19.2h-33.3c-5.4-4.7-8.8-11.7-8.8-19.3zm166.9 415.8c0 9.7-7.9 17.6-17.5 17.6H124.9c-9.7 0-17.5-7.9-17.5-17.6v-310c0-9.7 7.9-17.5 17.5-17.5h34.2a17.31 17.31 0 0 0 17.3 17.3h155.3a17.31 17.31 0 0 0 17.3-17.3h34.2c9.7 0 17.5 7.8 17.5 17.5v310zM240.1 312.4l-21-21.1c-2.4-2.4-5.6-3.7-8.9-3.7s-6.6 1.3-8.9 3.7l-6.5 6.5c-4.9 4.9-4.9 12.9 0 17.9l36.9 37c2.4 2.4 5.7 3.7 9.1 3.7s6.7-1.5 9-4l64.2-68c4.8-5.1 4.6-13-.5-17.8l-6.7-6.3c-2.4-2.3-5.7-3.5-9-3.4s-6.5 1.5-8.8 4l-48.9 51.5zM254 174c-69.5 0-126.1 56.6-126.1 126.2S184.4 426.4 254 426.4c69.5 0 126.1-56.6 126.1-126.2S323.5 174 254 174zm0 218c-50.5 0-91.6-41.1-91.6-91.7s41.1-91.7 91.6-91.7 91.6 41.1 91.6 91.7c0 50.5-41.1 91.7-91.6 91.7z" />
        </svg>
    {{/ifEqual}}
    <span>{{{i18n slugTitle}}}</span>
</a>