<table>
    <tbody>
        {{#each items}}
        <tr>
            {{#if onlyAsset}}
            <td colspan="3" class="only-asset">
                {{#each assetVOList}}
                    {{#ifEqual type "image"}}
                    <figure>
                        <img src="{{url}}" />
                    </figure>
                    {{/ifEqual}}
                {{/each}}
            </td>
            {{else}}
            {{#if examType}}
                <td>
                    <strong>{{{i18n "consultation.medicalFiles.others" examType}}}</strong>
                    {{#if examDate}}
                    <br>{{examDate}}
                    {{/if}}
                </td>
                {{else}}
                <td class="empty"></td>
                {{/if}}
                {{#if examTitle}}
                <td>
                    {{{examTitle}}}
                </td>
                {{else}}
                <td class="empty"></td>
                {{/if}}
                <td class="caption">
                    {{{examResults}}}

                    {{#each assetVOList}}
                    {{#ifEqual type "image"}}
                    <figure>
                        <img src="{{url}}" />
                        <figcaption>{{{source}}}</figcaption>
                    </figure>
                    {{/ifEqual}}
                    {{/each}}
                </td>
            {{/if}}
        </tr>
        <tr class="spacer" height="15">
            <td colspan="3"></td>
        </tr>
        {{/each}}
    </tbody>
</table>