<table class="padded">
    <tbody>
        {{#each items}}
            <tr>
                <td style="width:200px;">
                    <strong>{{{i18n "consultation.medicalFiles.others" examType}}}</strong>
                    {{#if examType}}<br>{{/if}}
                    {{examDate}}
                </td>
                <td style="min-width:200px;">
                    {{{examTitle}}}
                </td>
                <td>
                    {{{examResults}}}

                    {{#each assetVOList}}
                        {{#ifEqual type "image"}}
                            <figure>
                                <img src="{{url}}" />
                                <figcaption>{{{source}}}</figcaption>
                            </figure>
                        {{/ifEqual}}
                    {{/each}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
