<button class="btn-back-circle"><strong>{{i18n "consultation.medicalFiles.title"}}</strong></button>

<h1 class="overlay-title">{{{data.title}}}</h1>

<button class="btn-close">{{{i18n "action.close"}}}</button>
