<div id="anetcedentsAllergy"></div>

<div id="antecedentsDisease"></div>

<div id="antecedentsFamily"></div>

<div id="antecedentsObstetric"></div>

<div id="antecedentsSurgery"></div>

<div id="antecedentsOthers"></div>