{{#each items}}
<div class="no-table">
    <div class="table-cell">
        <ul>
            {{#if therapeuticClassValue}}
            <li>{{{therapeuticClassValue}}}</li>
            {{/if}}

            {{#if frequencyValue}}
            <li>{{{frequencyValue}}}</li>
            {{/if}}

            {{#if durationValue}}
            <li>{{{durationValue}}}</li>
            {{/if}}

            {{#if observationsValue}}
            <li>{{{observationsValue}}}</li>
            {{/if}}
        </ul>
    </div>
</div>
{{/each}}


{{#if data.noItems}}
<div class="no-table">
    <ul>
        <li>{{i18n "consultation.medicalFiles.medicalHistory.none"}}</li>
    </ul>
</div>
{{/if}}