<figure class="patient-profile-picture">
    {{#if data.patientProfilePicture}}
    <img src="{{data.patientProfilePicture}}" alt="{{data.patientFullName}}" height="131" width="145" />
    {{/if}}
</figure>

<div class="patient-profile">
    <div class="row">
        <span>{{i18n "consultation.medicalFiles.patientProfile.labels.fullname"}}</span>
        <strong>{{{data.patientFullName}}}</strong>
    {{#if patientSex}}
        <span>{{i18n "consultation.medicalFiles.patientProfile.labels.sex"}}</span>
        <strong>{{{patientSex}}}</strong>
    {{/if}}
    {{#if patientDateOfBirth}}
        <span>{{i18n "consultation.medicalFiles.patientProfile.labels.birthday"}}</span>
        <strong>{{{patientDateOfBirth}}}</strong>
    {{/if}}
    {{#if patientTimeOfBirth}}
        <span>{{i18n "consultation.medicalFiles.patientProfile.labels.birthtime"}}</span>
        <strong>{{{patientTimeOfBirth}}}</strong>
    {{/if}}
    {{#if maritalStatus}}
        <span>{{i18n "consultation.medicalFiles.patientProfile.labels.familyStatus"}}</span>
        <strong>{{{maritalStatus}}}</strong>
    {{/if}}
    {{#if weight}}
        <span>{{i18n "consultation.medicalFiles.patientProfile.labels.weight"}}</span>
        <strong>{{{weight}}}</strong>
    
    {{/if}}
    </div>
</div>