{{#each items}}
{{#if traitement}}
<h2 class="title-section">
    {{#if traitement}}
        {{{traitement}}}
    {{else}}
        &nbsp;
    {{/if}}
    <span class="date">{{{date}}}</span>
</h2>
{{/if}}

<div class="table">
    <div class="table-cell">
        <p>{{{evenement}}}</p>
    </div>
</div>
{{/each}}
