{{#each items}}
{{#if specialistDiscipline}}
    <h2 class="title-section">
        {{{specialistDiscipline}}}
        {{#if date}}
            <span class="date">{{{date}}}</span>
        {{/if}}
    </h2>
{{/if}}

<div class="table">
    <div class="table-cell">
        {{#if title}}
            <h3>{{{title}}}</h3>
        {{/if}}
        {{#if observationsValue}}
            <div>{{{observationsValue}}}</div>
        {{/if}}
    </div>
</div>
{{/each}}
