{{#each items}}
    <h2 class="title-section">{{i18n "consultation.medicalFiles.medicalHistory.sections.subtitles" title}}</h2>
    <div class="no-table">
        {{#each contentList}}
            <p>{{{string}}}</p>
        {{/each}}
    </div>
{{/each}}
