<main class="site-main" role="main">

    <div class="scene">
        <div class="gifs-animated"></div>
    </div>
    {{#if data.hasSteps}}
    <div class="consultation-menu">
        <button class="btn-consultation-steps btn-consultation-menu">
            <div class="menu-icon">
                <img src="/img/icons/consultation-steps.svg">
            </div>
            <span class="caption">
                {{{i18n "consultation.consultationSteps.title"}}}
            </span>
        </button>
        <div class="consultation-menu-content" id="consultation-menu-content"></div>
    </div>
    {{/if}}
    <div id="btn-quit-step"></div>

    <div id="audio-player"></div>

    <div id="speeches"></div>

    <div id="breadcrumbs"></div>
</main>
