<article>
    <h1>{{{i18n "formFeedback.title"}}}</h1>

    <form action="" class="feedback-form">
        <fieldset>
            <label for="email">{{{i18n "formFeedback.fields.email.label"}}}</label>
            <input type="email" name="email" id="email" placeholder="{{{i18n "formFeedback.fields.email.placeholder"}}}">
            <div class="extra">
                {{{i18n "formFeedback.fields.email.extra"}}}
            </div>
            <div class="extra">
                {{{i18n "formFeedback.disclaimer"}}}
            </div>
            <div class="btn-wrapper">
                <button type="submit" class="btn">{{{i18n "action.start"}}}</button>
            </div>
        </fieldset>
    </form>
</article>