<h1>{{{i18n "homeRP.title"}}}</h1>

<ul class="role-choice flat-list">
    <li class="trainer">
        <a href="#trainer-authentication">
            <span class="action">{{{i18n "action.animate"}}}</span>
            <span class="label">{{{i18n "homeRP.access.trainer"}}}</span>
        </a>
    </li>
    <li class="participant">
        <a href="#participant-authentication">
            <span class="action">{{{i18n "action.participate"}}}</span>
            <span class="label">{{{i18n "homeRP.access.participant"}}}</span>
        </a>
    </li>
</ul>