<div class="centred">
    <main id="content" class="site-main" role="main">
        <h1>{{{i18n "app.preload"}}}</h1>
        <p id="loading">0%</p>
        <img src="img/loader.svg" alt="Loading" height="188" width="188">
    </main>
</div>
