<article>
    <a href="#" class="btn-back-circle js-back-waitingRoom">{{{i18n "action.backToWaitingRoom"}}}</a>
    <h1>{{{i18n "share.title"}}}</h1>

    <form class="share-form" id="share-form">
        <fieldset>
            <div class="row message"></div>
            <div class="row">
                <input type="text" name="name" id="name" placeholder="{{{i18n 'share.placeholders.name'}}}">
            </div>
            <div class="row">
                <textarea name="message" id="message">{{{i18n 'share.placeholders.message'}}}</textarea>
            </div>
            <div class="row">
                <input type="email" name="email" id="email" placeholder="{{{i18n 'share.placeholders.email'}}}">
            </div>
            <div class="row text-right fields-required">
                {{{i18n "share.requiredMessage"}}}
            </div>
            <div class="btn-wrapper">
                <button class="btn">{{{i18n "action.submit"}}}</button>
            </div>
        </fieldset>
    </form>
</article>
