{{#if questionIntro}}
<p>{{{questionIntro}}}</p>
{{/if}}
<h2 class="title-section">Question n° {{data.index}}</h2>
<h2 class="question">
    {{{questionLabel}}}
    {{#if data.isMultiple}}
    <small>{{{i18n "quiz.multipleChoice"}}}</small>
    {{/if}}
</h2>

{{#if questionImage}}
<div class="question-image">
    <img src="{{questionImage.url}}" alt="">
    <small>{{questionImage.source}}</small>
</div>
{{/if}}

<form class="quiz-form">
    <fieldset>
        {{#if data.isMultiple}}
        {{#each answers}}
        <div class="row">
            <label for="item{{@index}}">
                <span class="input-container">
                    <input type="checkbox" data-id="{{id}}" name="{{../data.moduleName}}[]" id="item{{@index}}" {{#ifChecked this ../data.moduleName}}checked{{/ifChecked}}>
                    <span class="checked"></span>
                </span>
                {{{answerLabel}}}
            </label>
        </div>
        {{/each}}
        {{else}}
        {{#each answers}}
        <div class="row">
            <label for="item{{@index}}">
                <span class="input-container">
                    <input type="radio" data-id="{{id}}" name="{{../data.moduleName}}" id="item{{@index}}" {{#ifChecked this ../data.moduleName}}checked{{/ifChecked}}>
                    <span class="checked"></span>
                </span>
                {{{answerLabel}}}
            </label>
        </div>
        {{/each}}
        {{/if}}
    </fieldset>

    <div class="row-submit">
        <button class="btn-back-quizz d-none" type="submit" id="back-button">{{i18n "action.back"}}</button>
        <button class="btn" type="submit">{{i18n "action.validate"}}</button>
    </div>
</form>