<button class="btn-back-circle hidden">BACK TO <strong>CLINICAL EXAM</strong></button>

<h1 class="overlay-title" id="quizz-title">{{{data.title}}}</h1>

<button class="btn-close">{{{i18n "action.close"}}}</button>

<div id="language-select" class="cases-language"></div>
