<div class="centred">
    <header id="modal-header" class="overlay-site-header clearfix"></header>

    <div id="modal-content" class="overlay-main"></div>

    <footer id="modal-footer" class="overlay-footer" role="contentinfo"></footer>
</div>
