<div class="phone-call">
    <img src="{{avatar}}" class="phone-call-avatar">
    <div class="phone-call-inner">
        {{{text}}}
        <button type="button" class="btn-call">
            <img src="/img/icons/phone.svg">
        </button>
    </div>
</div>