<div class="centred">
    <!--
        <div class="box-constants">
            <ul class="flat-list">
                <li class="bp">{{data.bloodPressureValue}}</li>
                <li class="cf">{{data.heartRateValue}}</li>
                <li class="tm">{{data.temperatureValue}}</li>
            </ul>
        </div>
-->

    {{#if data.hasExamReport}}
    <button class="btn-exam-report">
        <span>{{{i18n "consultation.consultationSteps.clinicalExamination.examReport"}}}</span>
    </button>
    {{/if}}

</div>
<img class="gif-animated" src="{{data.gif.url}}" style="top: {{data.gif.top}}px; left: {{data.gif.left}}px;"
        height="{{data.gif.height}}" width="{{data.gif.width}}" />
<div id="plots"></div>
<button class="btn-close-environment hidden">
    <span>{{{i18n "action.close"}}}</span>
</button>