<h1>{{{data.labelConfirm}}}</h1>

<div class="btn-wrapper">
    <a href="#" class="btn btn-red btn-back js-exit">{{{data.labelBtnQuit}}}</a>
    <a href="#" class="btn js-back">{{{i18n "action.back"}}}</a>
</div>

