<div class="speech-intro">
    <ul class="contacts">
        {{#each avatars}}
        <li class="contact">
            <img src="{{../baseUrl}}{{avatar}}" class="contact-avatar">
            <span class="contact-details">
                <span class="contact-name">{{name}}</span>
                <span class="contact-job">{{job}}</span>
            </span>
        </li>
        {{/each}}
    </ul>
    <div class="inner-btn">
        <button type="button" class="btn-start">
            {{{i18n "consultation.consultationSteps.chatIntro.start"}}}
        </button>
    </div>
</div>