<div class="speech-bubble {{className}}" style="margin-top: {{data.offsetTop}}px;">
    <div class="bubble-inner">
        <p>{{speechText}}</p>
    </div>
    <img src="{{avatar}}" class="speech-avatar">
</div>