<h2 class="question">
    <span>Question n°{{this.index}}</span>
    {{this.questionLabel}}
</h2>

<div class="quiz-answers-list">
    {{#each this.answers}}
    <div class="row">
        <div class="answer{{#if this.good}} correct{{/if}}{{#ifGoodAnswer this}} is-good{{else}} is-wrong{{/ifGoodAnswer}}">{{{this.answerLabel}}}</div>
    </div>
    {{/each}}

    {{#if this.synthesis}}
        <div class="synthesis">{{{this.synthesis}}}</div>
    {{/if}}
    {{#if this.sources}}
        <div class="sources">
            Sources:
            {{{this.sources}}}
        </div>
    {{/if}}

</div>