<button class="btn-back-circle">{{i18n "action.back"}}</button>

<h1 class="overlay-title">{{i18n "consultation.feedback.title"}}</h1>

<a href="#" class="btn-back btn-back-basic" title="">{{i18n "action.backToWaitingRoom"}}</a>
